a {
	transition:.3s;
  }

// Cubic
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);

// Original
$dd:cubic-bezier(0.740, 0.015, 0.465, 1);
$BtoT:cubic-bezier(.645, .045, .355, 1);
$smooth:cubic-bezier(0.19, 1, 0.22, 1);


@keyframes convTypo {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

@for $i from 2 through 4 {
	.is-animated:nth-child(#{$i}) {
		animation-delay: #{($i - 1) * .12}s
	}
}

@keyframes lights {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/* Reveal block */
.reveal-holder {
	position: relative;
	display: inline-block;
	overflow: hidden;


	.reveal-block {
		position: absolute;
		top: 0;
		width: 100%;
		height: 101%;
		background: $color-lightgray;

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color-sub;
			transition-property: transform;
			transition-duration: 0.5s;
			transition-delay: 0.2s;
		}

		&.bg-pink {
			&::before {
				background-color: $color-pink;
			}
		}

		&.bg-perple {
			&::before {
				background-color: $color-perple;
			}
		}

		&.bg-green {
			&::before {
				background-color: $color-green;
			}
		}

		&.bg-orange {
			&::before {
				background-color: $color-orange;
			}
		}
	}
}

.reveal-block.gradient::before {
	background: linear-gradient(to left, #eebf56, #f46ca3);
}

.reveal-block.gradient-two::before {
	background: linear-gradient(to left, #1b9edf, #af74c3);
}

.reveal-block.extra {
	background: #1b9edf;

	&::before {
		background: #af74c3;
	}
}

.reveal-block.top.aos-animate::before,
.reveal-block.bottom.aos-animate::before {
	transform: scaleY(1);
}

.reveal-block.left.aos-animate::before,
.reveal-block.right.aos-animate::before {
	transform: scaleX(1);
}

.reveal-block.top::before {
	transform: scaleY(0);
	transform-origin: 0% 100%;
}

.reveal-block.left::before {
	transform: scaleX(0);
	transform-origin: 100% 0%;
}

.reveal-block.right::before {
	transform: scaleX(0);
	transform-origin: 0% 100%;
}

.reveal-block.bottom::before {
	transform: scaleY(0);
	transform-origin: 100% 0%;
}

/* AOS animate */
[data-aos="reveal-top"],
[data-aos="reveal-left"],
[data-aos="reveal-right"],
[data-aos="reveal-bottom"],
[data-aos="js-span-wrap-text"] {
	transition-property: transform;
	transition-delay: 0.5s;
}

[data-aos="reveal-top"] {
	transform: scaleY(1);

	&.aos-animate {
		transform: scaleY(0);
		transform-origin: 100% 0%;
	}
}

[data-aos="reveal-left"] {
	transform: scaleX(1);

	&.aos-animate {
		transform: scaleX(0);
		transform-origin: 0% 100%;
	}
}

[data-aos="reveal-right"] {
	transform: scaleX(1);

	&.aos-animate {
		transform: scaleX(0);
		transform-origin: 100% 0%;
	}
}

[data-aos="reveal-bottom"] {
	transform: scaleY(1);

	&.aos-animate {
		transform: scaleY(0);
		transform-origin: 0% 100%;
	}
}

[data-aos="reveal-item"] {
	visibility: hidden;
	transition-property: visibility;
	transition-duration: 0s;

	&.aos-animate {
		visibility: visible;
	}
}

.js-span-wrap-text {
	overflow: hidden;
}

@keyframes textAnime {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

[data-aos="js-span-wrap-text"] {
	&.aos-animate {
		display: inline-block;
		animation: textAnime 0.25s $easeOutExpo forwards;
	}
}

.l-title-transition {
	overflow: hidden;
	display: block;
}

.title-transition {
	display: inline-block;
	opacity: 0;
	animation: textAnime 1s $easeOutExpo forwards;


	&-01 {
		animation-delay: 0.3s
	}

	&-02 {
		animation-delay: 0.58s;
		animation-duration: 1.5s;
	}
}





//opening
.fade01 {
    transform: translateY(-250%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    &:nth-child(1){
		animation-delay: 3.5s;
	}
    &:nth-child(2){
		animation-delay: 3.6s;
	}
    &:nth-child(3){
		animation-delay: 3.7s;
	}
    &:nth-child(4){
		animation-delay: 3.8s;
	}
    &:nth-child(5){
		animation-delay: 3.9s;
	}
    &:nth-child(6){
		animation-delay: 4.0s;
	}
    &:nth-child(7){
		animation-delay: 4.1s;
	}
    &:nth-child(8){
		animation-delay: 4.2s;
	}
}
#navi #navibtn:nth-child(8){
	animation-delay: 4.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade02 {
    animation-name: fadeIn02;
    animation-duration: 3.8s;
}
@keyframes fadeIn02 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background:#121212;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
	width: 300px;
	@media screen and (max-width: 480px) {
		width: 220px;
	}
}

/*=============== SVGアニメーション内の指定 =================*/

/*アニメーション前の指定*/
#mask path {
	fill-opacity: 0;/*最初は透過0で見えない状態*/
	transition: fill-opacity 2.0s $easeOutExpo;/*カラーがつく際のアニメーション0.8秒で変化*/
	fill: none;/*塗りがない状態*/
	stroke: #FFF;/*線の色*/
	stroke-width: 0.5px;
}
/*アニメーション後に.doneというクラス名がで付与された時の指定*/
#mask.done path {
	fill: #FFF;/*塗りの色*/
	fill-opacity: 1;/*透過1で見える状態*/
	stroke: none;/*線の色なし*/
	stroke-width: 0px;
}

