/*
#Variables color
*/
$color-white:#FFFFFF;
$color-default: #222222;
$color-border: #D3D3D3;
$color-main: #A37E2C;
$color-sub: #AFAFAF;

$color-orange:#E6D09E;
$color-pink:#e3a29a;
$color-perple:#bbc6db;
$color-green:#a1d9bd;

$color-lightgray:#F0F0F0;
$color-darkgray:#D3D3D3;

$color-base:#fff;
$black:#323232;
//for sns
$color-facebook: #1877F3;
$color-twitter: #00aced;
$color-line: #00c300;
$color-hatena: #00A4D4;
$button-off:#cdb29d;
$button-over:#727272;

