$theme: ".oltana";
// These variable are used in mixin
$default-scale: 1;
$gutter: 0;

//break point
$break-sm: 600px;
$break-tb: 1280px;
//$break-lg: 960px + 30;

//path
$path-image: "../images/";
$path-font: "../fonts/";

//font
$base-font-size: 16;
$base-line-height: 1.8;
$base-letter-spacing: 0.01em;

//animation
$duration: .25s;
$easingA: cubic-bezier(0.190, 1.000, 0.220, 1.000); //$easeOutExpo
$easingB: ease-out;
$delay: .35s;

$titleDuration: .5s;
$titleDelay: .25s;

//etc
$site-size: 1440;
$z-max: 10;
$opacity: .8;
$blur:blur(20px);


$size-pc:1440;
$size-sp:375;
//space
$sideSpace:160;
$heroSpace:110px;

