/*
* Variables font
*/


$font-en:'Marcellus', serif;
$en-ll: 8.1rem;
$en-l: 5.4rem;
$en-m: 3.6rem;
$en-s: 2.4rem;
$en-ss: 1.8rem;
$font-jp:YuGothic,
"游ゴシック Medium",
"Yu Gothic Medium",
"游ゴシック",
"Yu Gothic",
sans-serif;

$font-jp02:a-otf-ryumin-pr6n, serif;

$jp-ll: 5.4rem;
$jp-l: 3.6rem;
$jp-ml: 3.0rem;
$jp-m: 2.4rem;
$jp-ms: 2.0rem;
$jp-s: 1.6rem;
$jp-ss: 1.2rem;
$jp-sss: 1.0rem;
$jp-xs: 0.8rem;
$jp-xss: 0.6rem;


.strong {
    font-size: calc($jp-m - 0.4rem);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}