* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

br {
    font-size: 0;
}

::selection {
    color: #fff;
    background-color: $color-main;
}

input,
textarea {
    &::selection {
        background-color: $color-main;
        color: $color-default;
    }
}

html {
    min-height: 100%;
    width: 100%;
    padding: 0;
    scroll-behavior: smooth;
    
//    @include query($break-tb) {
//         font-size: 55%;
//    }
    @include query($break-sm) {
        font-size: 55%;
    }
}

body {
    font-size: 0.85rem;
    line-height: $base-line-height;
    font-family: $font-jp;
    font-feature-settings: "palt";
    color: $color-default;
    width: 100%;
    letter-spacing: 1.2px;
    background-color: #fff;
    position: relative;

    @include query($break-tb) {
    }

    @include query($break-sm) {
        min-width: auto;
        width: auto;
    }
}


strong {
    font-weight: bold;
    //    background:linear-gradient(transparent 60%, rgba(246, 210,198, 1) 40%);
}

input,
button,
select,
textarea {
    font-family: $font-jp;
}

input,
button,
select,
textarea,
a,
div,
aside {
    &:focus {
        outline: none;
    }
}

a {
    color: $color-main;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}


img {
    width: 100%;
}


::selection {
    background-color: $color-main;
    color: #FFF;
}
::-moz-selection {
    background-color: $color-main;
    color: #FFF;
}