@mixin query($break-sm) {
    @media all and (max-width: $break-sm) {
        @content;
    }
}

//pxからvwへ変換
@function PxToVw($PxToVw) {
    @return (($PxToVw/ 1280) * 100) + vw;
}

@mixin giji {
    content: "";
    display: block;
}

@mixin shadow {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

@mixin paddingLR {
    padding-left: (100/1280)*100vw;
    padding-right: (100/1280)*100vw;
}

@mixin section {
    padding-bottom: (240/1280)*100vw;

    @include query($break-sm) {
        padding-bottom: (227/750)*100vw;
    }
}

@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin Xcenter {
    left: 50%;
    transform: translateX(-50%);
}

@mixin spInner {
    padding-left: (56/750)*100vw;
    padding-right: (56/750)*100vw;
}

@mixin margin-mb($t, $r, $b, $l) {
    margin: ($t / $parentmb_width) * 100vw ($r / $parentmb_width) * 100vw ($b / $parentmb_width) * 100vw ($l / $parentmb_width) * 100vw;
}

@mixin margin($t, $r, $b, $l) {
    margin: ($t / $parent_width) * 100vw ($r / $parent_width) * 100vw ($b / $parent_width) * 100vw ($l / $parent_width) * 100vw;
}

@mixin width-mb($w) {
    width: ($w / $parentmb_width) * 100vw;
}

@mixin width($w) {
    width: ($w / $parent_width) * 100vw;
}

@mixin height-mb($parent_h, $h) {
    height: ($h / $parent_h) * 100%;
}

@mixin font-size-mb($f) {
    font-size: ($f / $parentmb_width) * 100vw;
}

@mixin font-size($f) {
    font-size: ($f / $parent_width) * 100vw;
}

@mixin paddingPercent($parentPxWidth, $pTop, $pRight, $pBottom, $pLeft) {
    padding: floor((($pTop / $parentPxWidth) * 10000%)) / 100 floor((($pRight / $parentPxWidth) * 10000%)) / 100 floor((($pBottom / $parentPxWidth) * 10000%)) / 100 floor((($pLeft / $parentPxWidth) * 10000%)) / 100;
}


@mixin hoverThumb {
    img {
        transform-origin: center;
        transform: scale(1);
        transition: 0.5s $easeOutExpo;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

@mixin menuBackground {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}


@mixin tableTh {
    padding: 1.8rem 1.2rem;
    border-top: 1px solid $color-default;
    width: (288/1120)*100%;
    text-align: left;
}

@mixin tableTd {
    border-top: 1px solid $color-border;
    padding: 1.8rem 1.2rem;
}