body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    line-height: 1;
    word-break: break-all;
	font-weight: 400;
}

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
}

img {
    vertical-align: bottom;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
    display: block;
}

iframe {
    max-width: 100% !important;
}

img,
embed,
object,
video {
    max-width: 100%;
}

a,
label {
    cursor: pointer;
}

blockquote {
    padding: 0;
    margin: 0;
    display: block;
}

address,
em {
    font-style: normal;
}

hr {
    border: 0;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

textarea {
    resize: vertical;
    overflow: hidden;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
}

input,
button,
select {
    vertical-align: middle;
    border-radius: 0;
    box-sizing: border-box;
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow : none;
    cursor: pointer;
    white-space:normal;
    outline: 0;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
}
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: "";
}
    select::-ms-expand {
  display: none;
}
table {
    border-collapse: collapse;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    line-height: 1;
}
img {
	height: auto;
}