
.footer {
    width: 100%;
    background: #0B0B12;
    color: #FFF;
    &_inner {
        width: 1100px;
        margin: 0 auto;
        padding: 60px 0;
        @media screen and (max-width: 480px) {
            width: 95%;
        }
        &_list {
            display: flex;
            justify-content: space-between;
            font-family: $font-jp02;
            font-size: 1.5625rem;
            @media screen and (max-width: 480px) {
                display: none;
            }
            .main {
                width: 25%;
                &_title {
                    margin-bottom: 20px;
                }
                span {
                    color: $color-main;
                }
                .inner_list {
                    font-family: $font-jp;
                    line-height: 1.5;
                    a {
                        color: #FFF;
                        font-size: 0.9rem;
                    }
                    .line {
                        a {
                            color: #FFF;
                            font-size: 0.9rem;
                            &:before {
                                content: '';
                                display: inline-block;
                                width: 30px;
                                border: 1px solid #6F6F6F;
                                vertical-align: middle;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        &_bottom {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 40px;
            @media screen and (max-width: 480px) {
                display: block;
                margin-top: 10px;
            }
            .left {
                width: 50%;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                .footer_logo {
                    @media screen and (max-width: 480px) {
                        text-align: center;
                    }
                    img {
                        width: 170px;
                        @media screen and (max-width: 480px) {
                            width: 200px;
                            opacity: 0.2;
                        }
                    }
                }
                address {
                    font-family: $font-en;
                    font-size: 0.6rem;
                    margin-top: 15px;
                    color: #444;
                    @media screen and (max-width: 480px) {
                        text-align: center;
                        font-size: 1.4rem;
                        line-height: 1.8;
                    }
                }
            }
            .right {
                width: 50%;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                .sns_list {
                    display: flex;
                    justify-content: flex-end;
                    @media screen and (max-width: 480px) {
                        justify-content: space-between;
                        width: 60%;
                        margin: 0 auto;
                    }
                    li {
                        margin-left: 25px;
                        @media screen and (max-width: 480px) {
                            margin-left: 0px;
                        }
                        a {
                            color: #FFF;
                            font-size: 1.2rem;
                            @media screen and (max-width: 480px) {
                                font-size: 2.5rem;
                            }
                            img {
                                width: 20px;
                                @media screen and (max-width: 480px) {
                                    width: 100px;
                                }
                            }
                            &:hover {
                                opacity: 0.5;
                                -webkit-transition: all 0.5s ease;
                                -moz-transition: all 0.5s ease;
                                -o-transition: all 0.5s ease;
                                transition: all  0.5s ease;
                            }
                        }
                    }
                }
                .company_list {
                    display: flex;
                    justify-content: flex-end;
                    width: 300px;
                    margin-left: auto;
                    margin-top: 30px;
                    @media screen and (max-width: 480px) {
                        width: 80%;
                        margin: 20px auto;
                    }
                    li {
                        font-size: 0.7rem;
                        a {
                            color: #FFF;
                            @media screen and (max-width: 480px) {
                                font-size: 1.4rem;
                                line-height: 1.8;
                            }
                        }
                    }
                    li + li {
                        border-left: 1px solid #444;
                        padding-left: 15px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.accordion {
    .option {
        position: relative;
        .toggle {
            display: none;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 30px;
            border: 1px solid #444;
            vertical-align: middle;
            margin-right: 10px;
        }
        .title,
        .content {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: all 0.3s;
            font-size: 0.9rem;
        }
        .title::after,
        .title::before {
            content: "";
            position: absolute;
            right: 1.25em;
            top: 1.25em;
            width: 1px;
            height: 0.75em;
            background-color: #FFF;
            transition: all 0.3s;
        }
        .title::after {
            transform: rotate(90deg);
        }
        .content {
            max-height: 0;
            overflow: hidden;
            margin-left: 50px;
        }
        .toggle:checked + .title + .content {
            max-height: 500px;
            transition: all 1.5s;
        }
        .toggle:checked + .title::before {
            transform: rotate(90deg) !important;
        }
        .more_inner {
            line-height: 2.0;
            li {
                a {
                    &:hover {
                        margin-left: 5px;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        color: $color-main;
                    }
                }
            }
            span.new {
                background: $color-main;
                color: #FFF;
                padding: 3px 5px;
                font-size: 0.7rem;
                margin-left: 5px;
            }
        }
    }
}

