.header_col {
	transition: .5s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 93px;
  @media screen and (max-width: 480px) {
    height: 65px;
  }
}
.header_col.scroll {
	background: rgba(11,11,18,0.5);
  height: 93px;
  @media screen and (max-width: 480px) {
    height: 65px;
  }
}

.header {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
    &:hover {
      background:#0B0B12;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease;
      @media screen and (max-width: 480px) {
        background: unset;
      }
    }
}
.header-inner {
    position: relative;
    top: 0px;
    @media screen and (max-width: 480px) {
      top: 0px;
      height: 80px;
    }
    .header-logo {
        a {
          transition:.3s;
          margin-top: -5px;
          margin-right: 40px;
          @media screen and (max-width: 480px) {
            margin-right: 0px;
          }
        }
        a:hover {
          opacity: 0.5;
        }
        img {
          width: 145px;
          @media screen and (max-width: 480px) {
            margin-left: 15px;
            margin-top: 25px;
          }
      }
    }
}
.header_other {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 10;
  background: #0B0B12;
  @media screen and (max-width: 480px) {
    top: 0px;
    position: fixed;
    z-index: 10000;
  }
  .header-inner {
    position: relative;
    height: 60px;
    top: 0px;
    @media screen and (max-width: 480px) {
      top: 0px;
      height: 55px;
    }
    .header-logo {
      a {
        transition:.3s;
        margin-top: -5px;
        margin-right: 40px;
        @media screen and (max-width: 480px) {
          margin-right: 0px;
          margin-top: -10px;
        }
      }
      a:hover {
        opacity: 0.5;
      }
      img {
        width: 145px;
        @media screen and (max-width: 480px) {
          width: 100px;
        }
    }
  }
    .header-utility {
        position: absolute;
        right: 40px;
        width: 75vw;
        @media screen and (max-width: 480px) {
            right: 0px;
            width: 100vw;
        }
    }
  }
}

.breadlist {
  background: #F0F0F0;
  width: 100%;
  -webkit-overflow-scrolling: touch; /* スマホでスクロールを滑らかにする */
  overflow-x: auto; /* [必須] テキストが多い時はX軸にスクロールバーが出現するように */
  @media screen and (max-width: 480px) {
    top: 45px;
    position: fixed;
    z-index: 10000;
  }
  ul {
      margin: 0 auto;
      padding: 5px 0;
      width: 95%;
      display: flex;
      justify-content: flex-end;
      li {
          font-size: 0.6875rem;
          position: relative;
          padding-right: 10px;
          @media screen and (max-width: 480px) {
            font-size: 0.9rem;
          }
      }
      .arrow-icon {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 6px;
        height: 6px;
        border-style: solid;
        border-width: 1px 1px 0 0;
        border-color: black;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      a:hover {
        color: #121212;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all  0.5s ease;
      }
  }
}

.title_col {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 10px;
  margin-bottom: 40px;
  width: 100%;
  h3 {
      font-size: 3.75rem;
      font-family: $font-en;
      span {
          font-size: 1.3125rem;
          color: #AFAFAF;
          margin-left: 10px;
      }
  }
}
