.heading {
	position: absolute;
	left: 5%;
	top: 0;
	transform: rotate(90deg);
	transform-origin: top left;
	
	@include query($break-sm) {
			display: none;
		}

	&-title {
		display: inline-block;
		//	writing-mode: vertical-rl;
		color: $color-lightgray;
		font-family: $font-en;
		font-size: 2rem;
		font-weight: bold;
		color: #D3D3D3;
		margin-right: 5px;

		@include query($break-sm) {
			font-size: 1.2rem;
		}
	}

	&-subtitle {
		display: inline-block;
		padding-left: 30px;
		color: #D3D3D3;
		font-family: $font-jp;
		position: relative;
		font-size: 1.4rem;

		@include query($break-sm) {
			padding-left: 20px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 3px;
			display: block;
			height: 1px;
			width: 24px;
			transform: rotate(45deg);
			background: #D3D3D3;
			transform-origin: left top;

			@include query($break-sm) {
				width: 14px;
				top: 4px;
			}
		}
	}
}
