.slider-dots-box button span {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: $font-en;
    @media screen and (max-width: 768px) {
        font-size: $jp-sss;
    }
}
.slider-dots-box {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    display: flex;
    @media screen and (max-width: 768px) {
        bottom: 10px;
        right: 10px;
    }
}
.slider-dots-box button {
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    margin-right: 28px;
}
@media screen and (max-width: 768px) {
    .slider-dots-box button{
        margin-right: 0px;
    }
}
.progress {
    transform: rotate(-90deg);
}
.progress circle {
    fill: transparent;
    stroke: #ffffff;
}
#section-slideshow  {
    position: relative;
    .Slideshow__Content {
        position: absolute;
        z-index: 1;
        width: 100%;
    }
}

.Slideshow__Carousel {
    img {
        height: 100vh;
        object-fit: cover;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .Slideshow__Carousel {
        img {
            height: 90vh;
            object-fit: cover;
            width: 100%;
        }
    }
}