.link {
    &-anchor {
        display: block;
        border-bottom: 1px solid $color-border;
        position: relative;
        


        &:after {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 6.4rem;
            height: 1px;
            content: "";
            display: block;
            background: $color-main;
            transition: all 0.5s $easeOutExpo;
        }

        &:hover {
            &:after {
                width: 100%;
            }
            
        }
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem;
        width: 100%;
        

        @include query($break-sm) {
            padding: 2.4rem;
        }

        &-text {
            margin-right: 2rem;
            font-weight: bold;
        }

        i {
            align-self: center;
            line-height: 1;
            vertical-align: top;
            margin-top: -2px;
        }
    }

    &-line {
        color: $color-default;
        position: relative;
        transition: color .3s cubic-bezier(0.19, 1, 0.22, 1);

        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            bottom: 0;
            right: 0;
            left: auto;
            height: 1px;
            width: 0;
            background: $color-main;
            -webkit-transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
            -o-transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &:hover {
            &:after {
                bottom: 0;
                right: auto;
                left: 0;
                width: 100%;
            }
        }
    }

    &-cercle {
        position: relative;
        width: 9.6rem;
        height: 9.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        //	transition: all 0.3s $easeOutExpo;

        @include query($break-sm) {
            width: 4.8rem;
            height: 4.8rem;
        }


        &:before {
            transition: all 0.3s $easeOutExpo;
            z-index: 0;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9.6rem;
            height: 9.6rem;
            background-color: $color-main;
            border-radius: 50%;
            background: #fff;

            @include query($break-sm) {
                width: 4.8rem;
                height: 4.8rem;
            }
        }

        &:after {
            transition: all 0.3s $easeOutExpo;
            z-index: 1;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9.6rem;
            height: 9.6rem;

            border-radius: 50%;
            background: $color-main;

            @include query($break-sm) {
                width: 4.8rem;
                height: 4.8rem;
            }
        }

        i {
            align-self: center;
            line-height: 1;
            vertical-align: top;
            margin-top: -1px;
            position: relative;
            z-index: 5;
        }

        &:hover {
            &:before {
                width: 120px;
                height: 120px;
                border: 5px $color-main solid;

                @include query($break-sm) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }

            &:after {
                width: 0;
                height: 0;
            }

            i svg {
                transform: scale(110%);
            }
        }

        @include query($break-sm) {
            width: 4.8rem;
            height: 4.8rem;
        }
    }


    &-blog {
        position: absolute;
        bottom: 1.2rem;
        right: 0;
        font-family: $font-en;
        font-size: 1.3rem;

        > span {
            transform: translateX(-30px);
            display: inline-block;
        }

        &-inner {
            width: 0.8rem;
            height: 0.8rem;
            background: $color-main;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            top: 0;
            right: 0;
            transition: all 0.3s $easeOutExpo;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
            }
        }
    }
}


//スマホコンバージョンボタン
.conv-area {
    .link {
        &-cercle {
            @include query($break-sm) {
                width: 8rem;
                height: 8rem;
            }

            &:before {
                @include query($break-sm) {
                    width: 8rem;
                    height: 8rem;
                }
            }

            &:after {
                @include query($break-sm) {
                    width: 8rem;
                    height: 8rem;
                }
            }
        }

    }
}



.menu__item-01 {
    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;


        span {
            margin: 0;
            width: 45%;
            animation: convTypo 50s linear infinite;
            mix-blend-mode: exclusion;

            img {}
        }
    }
}


.blog-list-anchor {
    &:hover {
        .link-blog-inner {
            transform-origin: center;
            transform: scale(6);

            .link-cercle-arrow {

                transform: translate(-50%, -50%) scale(0.1);
            }
        }
    }
}
