
.menu {
  font-family: $font-en;
}
.menu li,
.menu li a {
  color: #FFF;
  padding-bottom: 30px;
}
.menu li.main_list:nth-of-type(1),
.menu li.main_list:nth-of-type(2),
.menu li.main_list:nth-of-type(3),
.menu li.main_list:nth-of-type(4) {
  margin-right: 60px;
  @media screen and (max-width: 480px) {
    margin-right: 0px;
  }
}
.menu ul li.lang,
.menu ul li.btn {
  float: right;
}
.menu ul li.lang {
  margin-right: 40px;
  display: flex;
    a {
      margin-left: 15px;
      color: #CACACA;
    }
    a:hover {
      color: $color-main;
    }
}

.menu ul li.btn a {
  border: 1px solid #FFF;
  padding: 8px 25px;
  border-radius: 25px;
  display: block;
  margin-top: -10px;
  @media screen and (max-width: 480px) {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  &:hover {
      border: 1px solid $color-main;
      background: $color-main;
      color: #FFF;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all  0.5s ease;
      @media screen and (max-width: 480px) {
        border: none;
        background: none;
        color: #FFF;
      }
  }
}

.title_inner {
  padding-right: 50px;
  font-size: 1.2rem;
  color: $color-main;
}

.arrow_u {
  position: relative;
  display: inline-block;
  padding-left: 0px;
  color: #FFF;
  text-decoration: none;
  transition:.3s;
  @media screen and (max-width: 620px) {
    display: none;
  }
}
.arrow_u:after {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-bottom: solid 1px #FFF;
  border-right: solid 1px #FFF;
  position: absolute;
  top: 0px;
  right: -20px;
  margin-top: -10px;
  transform: rotate(45deg);
  transition:.3s;
  @media screen and (max-width: 480px) {
    right: 20px;
    top: 30px;
  }
}

.new {
  background: $color-main;
  font-size: 0.8rem;
  padding: 3px 5px;
  margin-left: 5px;
  color: #FFF;
}




/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
  width: 100%;
  margin: 0 auto;
}

.menu-mobile {
  display: none;
}

.menu-mobile:after {
  content: "MENU";
  font-size: 2.0rem;
  padding: 0;
  float: right;
  position: relative;
  color: #FFF;
  margin-top: 5px;
  @media screen and (max-width: 480px) {
    margin-right: 15px;
    margin-top: 25px;
  }
}
.menu > ul {
  margin: 40px auto 0px;
  width: 100%;
  list-style: none;
  padding: 0 3%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @media screen and (max-width: 620px) {
    padding: 0;
    margin: 19px auto 0px;
  }
}

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table;
}

.menu > ul:after {
  clear: both;
}

.menu > ul > li {
  float: left;
  padding: 0;
  margin: 0;
}

.menu > ul > li a {
  text-decoration: none;
  display: block;
}

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #f0f0f0;
  padding: 50px 0;
  position: absolute;
  z-index: 99;
  top: 60px;
  left: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu > ul > li > ul.top_menu {
  top: 53px;
  @media screen and (max-width: 480px) {
    top: 0px;
  }
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li {
  margin: 0 auto;
  list-style: none;
  max-width: 1000px;
  padding-bottom: 0;
}

.menu > ul > li > ul > li a {
  padding-bottom: 0;
  display: unset;
  font-family: $font-jp;
  color: $color-default;
}

.menu > ul > li > ul > li > ul {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table;
}

.menu > ul > li > ul > li > ul:after {
  clear: both;
}

.menu > ul > li > ul > li > ul > li {
  float: left;
  padding: 0;
  margin: 20px 0;
  font-size: 1.0em;
  width: 33%;
}

.menu > ul > li > ul > li > ul > li a {
  border: 0;
}

.menu > ul > li > ul.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
  width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
  .menu-container {
      width: 100%;
  }
  .menu-mobile {
      display: block;
  }
  .menu-dropdown-icon:before {
      display: block;
  }
  .menu > ul {
      display: none;
  }
  .menu > ul > li {
      width: 100%;
      float: none;
      display: block;
  }
  .menu > ul > li a {
      padding: 1.5em 0;
      //width: 100%;
      display: block;
  }
  .menu > ul > li > ul {
      position: relative;
  }
  .menu > ul > li > ul.normal-sub {
      width: 100%;
  }
  .menu > ul > li > ul > li {
      float: none;
      width: 100%;
      margin-top: 20px;
  }
  .menu > ul > li > ul > li:first-child {
      margin: 0;
  }
  .menu > ul > li > ul > li > ul {
      position: relative;
  }
  .menu > ul > li > ul > li > ul > li {
      float: none;
  }
  .menu .show-on-mobile {
      display: block;
  }
}

.arrow{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}
.arrow::before,
.arrow::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow_icon{
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  margin-right: 5px;
}

.arrow_icon::before{
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 1px solid $color-main;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.arrow_icon::after{
  left: 4px;
  width: 3px;
  height: 3px;
  border-top: 1px solid  $color-main;
  border-right: 1px solid  $color-main;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hover_line {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.hover_line::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.hover_line:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.menu_col {
  width: 100% !important;
  .menu_col_list {
    width: 50%;
    float: left;
    li {
        padding-bottom: 10px;
        width: 48%;
        float: left;
        a {
          padding-bottom: 0px;
        }
    }
    li.title {
      width: 100%;
      color: $color-main;
      font-size: 1.2rem;
    }
  }
}

.accordion_hnav {
  .option {
      position: relative;
      .toggle {
          display: none;
      }
      .title {
          display: block;
          color: $color-default;
          font-family: $font-jp;
          width: 100%;
          @media screen and (max-width: 480px) {
            font-size: $jp-s;
            color: #FFF;
          }
      }
      .title,
      .content {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          transform: translateZ(0);
          transition: all 0.3s;
      }
      .title::after,
      .title::before {
          content: "";
          position: absolute;
          right: 30px;
          top: 5px;
          width: 1px;
          height: 0.75em;
          background-color: #222;
          transition: all 0.3s;
          @media screen and (max-width: 480px) {
            right: 10px;
            background-color: #FFF;
          }
      }
      .title::after {
          transform: rotate(90deg);
      }
      .content {
          max-height: 0;
          overflow: hidden;
          .text {
            padding-top: 10px;
            ul {
              li {
                float: unset;
                width: 100%;
              }
            }
          }
      }
      .toggle:checked + .title + .content {
          max-height: 500px;
          transition: all 1.5s;
      }
      .toggle:checked + .title::before {
          transform: rotate(90deg) !important;
      }
      .more_inner {
          span.new {
              background: $color-main;
              color: #FFF;
              padding: 3px 5px;
              font-size: 0.7rem;
              margin-left: 5px;
          }
      }
  }
}

.line_h {
  a {
      color: #FFF;
      font-size: 0.9rem;
      &:before {
          content: '';
          display: inline-block;
          width: 30px;
          border: 1px solid #DDD;
          vertical-align: middle;
          margin-right: 10px;
      }
  }
}

@media screen and (max-width: 480px) {
  .sp_logo {
    display: none !important;
  }
  .menu-dropdown-icon:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 1px #FFF;
    border-right: solid 1px #FFF;
    position: absolute;
    top: 27px;
    right: 5px;
    transform: rotate(135deg);
  }
  .menu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
  .menu li.main_list:nth-of-type(2),
  .menu li.main_list:nth-of-type(3),
  .menu li.main_list:nth-of-type(4),
  .menu li.main_list:nth-of-type(5) {
    border-bottom: 1px solid #444;
  }
  .menu li.main_list {
    position: relative;
    width: 100%;
  }
  .menu > ul > li > ul {
    padding: 0;
    top: 0;
    background: unset;
  }
  .menu > ul > li a {
    font-size: $jp-s;
    color: #FFF;
  }
  .menu > ul > li a.arrow {
    padding: 0 0 0 20px;
    color: #FFF;
    font-size: $jp-s;
  }
  .menu ul li.lang,
  .menu ul li.btn {
    float: unset;
  }
  .menu ul li.lang {
    margin-top: 50px;
  }
  #header.UpMove {
    animation: unset;
  }
  #header.DownMove {
    animation: unset;
  }
  .menu .show-on-mobile {
    padding: 20px 40px 100px;
    background:#0B0B12;
  }
  .menu > ul > li > ul > li > ul > li {
    float: none;
    width: 100%;
    margin: 0 0 20px;
  }
  .menu li.lang {
    font-size: $jp-s;
  }
  .menu li.lang a {
    padding: 0;
  }
  .menu_col .menu_col_list {
    width: 100%;
  }
  .menu_col .menu_col_list li {
    width: 100%;
  }
  .accordion_hnav .option .title {
    font-size: $jp-s;
  }
  .menu_col .menu_col_list li a {
    color: #FFF;
  }
  .header-inner .header-logo a:hover {
    opacity: 1.0;
  }
}