#container {
	position: relative;
}

h1 {
	line-height: 1;
	font-size: 1rem;
}

//コンテナン
.l-container {
	padding-left: ($sideSpace/1440)*100%;
	padding-right: ($sideSpace/1440)*100%;
	//    max-width: (1312/1440)*100%;
	margin: 0 auto;

	@include query($break-tb) {
		padding-left: (60/1024)*100%;
		padding-right: (60/1024)*100%;
	}

	@include query($break-sm) {
		padding-left: (20/375)*100%;
		padding-right: (20/375)*100%;
	}
}

//下層ページのベース

.l-contentsBase {
	display: flex;
	justify-content: space-between;

	@include query($break-sm) {
		flex-direction: column;
	}


	&-heading {
		width: (352/1440)*100vw;

		@include query($break-sm) {
			width: auto;
		}

	}

	&-text {
		width: (736/1440)*100vw;

		@include query($break-sm) {
			width: auto;
		}
	}
}


@mixin h2 {
	font-size: (54/1440)*100vw;
	//font-weight: bold;
	letter-spacing: 0.05em;
	font-family: $font-jp;
	margin-bottom: 1.8rem;
	line-height: 1.4;
	color: $black;

	@include query($break-tb) {
		font-size: $jp-l;
	}

	@include query($break-sm) {
		font-size: $jp-m + 0.8rem;

	}
}

.h2 {
	margin-bottom: 2.4rem;

	@include h2;
}


@mixin h3 {
	font-size: $jp-l;
	margin-bottom: .3em;
	font-family: $font-jp;
	font-size: (36/1440)*100vw;

	@include query($break-tb) {}

	@include query($break-sm) {
		font-size: $jp-ll - 2.3rem;
	}
}

.h3 {
	@include h3;

	&-jp {
		letter-spacing: 0.03em;
	}

	&-en {
		font-size: $en-ss;
		margin-bottom: .3em;
		font-family: $font-en;
		font-weight: bold;
		border-top: 1px solid $color-default;
		line-height: 1;
		width: fit-content;
		letter-spacing: 0.03em;
	}
}

@mixin border {
	border-bottom: 1px solid $color-lightgray;
}

@mixin space {
	padding-left: (20/375)*100%;
	padding-right: (20/375)*100%;
}

.bg-line {
	background-image: url(../images/common/bg-line@2x.png);
	background-size: 16px 42px;
}
