// ANIMATION standard reveal effect
.animate-in {
    p.p,
    img.p {
        opacity: 0;
    }
}

.has-animation {
    position: relative;

    p.p,
    img.img {
        background: #000;
        width: 100%;
        height: 100%;
    }
    &.animate-in {
        p,
        img,
        .before-anime {
            animation: textHidden 0.1s 1.1s forwards;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
        }
        &:before {
            background-color: $base;
        }
        &:after {
            background-color: $black;
            animation-delay: .5s;
        }
    }
    &.animation-ltr.animate-in {
        &:before {
            animation: revealLTR 1.8s ease;
        }
        &:after {
            animation: revealLTR 1s .6s ease;
        }
    }
    &.animation-rtl.animate-in {
        &:before {
            animation: revealRTL 1.8s ease;
        }
        &:after {
            animation: revealRTL 1s .6s ease;
        }
    }

}

@keyframes revealRTL {
    0% {
        width: 0;
        right: 0;
    }
    65% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes revealLTR {
    0% {
        width: 0;
        left: 0;
    }
    65% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}


/////////// ANIMATION reveal effect 斜め
.animate-in {
    background-color: $base;

    .before-anime {
        opacity: 0;
    }
}

.animate-in-second {
    background-color: $base;
    transform: translate(0, -15%, 0);
    transition: translate 1s ease;

    .before-anime {
        opacity: 0;
    }
}


//.item-link {
//    background: $base;
//}
.has-naname {
    position: relative;
    overflow: hidden; // 最初の行
    &.animate-in {
        background-color: transparent;
        transform: translate(0, 0, 0);

        .before-anime {
            animation: textHidden 0.1s 1s forwards;
            background: #fff;

            img {
                transform: translateX(-10%);
                animation: textHidden 0.1s 1s forwards;
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
        }
        &:before {
            background-color: $base;
        }
        &:after {
            background-color: $white;
            animation-delay: .5s;
        }
    } // 二行め以降
    &.animate-in-second {
        background-color: transparent;
        transform: translate(0, 0, 0);

        .before-anime {
            animation: textHidden 0.1s 1s forwards;
            background: #fff;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
        }
        &:before {
            background-color: $base;
        }
        &:after {
            background-color: $white;
            animation-delay: .5s;
        }
    }

    &.animation-ob.animate-in {
        overflow: hidden;
        animation: photoHidden 1s forwards;

        .before-anime {
            opacity: 0;
            animation: textHidden 1s 2.4s forwards;

            img {
                transform: translateX(0);
            }
        }

        &:before {
            animation: revealOb 1.8s 1.6s $easeOutCubic;
        }
        &:after {
            animation: revealOb 1s 2.2s $easeOutCubic;
        }
    }
    &.animation-ob.animate-in-second {
        overflow: hidden;
        transform: translate(0, 0, 0);

        .before-anime {
            opacity: 0;
            animation: textHidden 1.6s 1s forwards;
        }

        &:before {
            animation: revealOb 2s $easeOutCubic;
        }
        &:after {
            display: none;

            @media (min-width: $break-sm) {
                animation: revealOb 2s 0.4s $easeOutCubic;
                display: block;
            }
        }
    }
}


@keyframes revealOb {
    0% {
        transform: skew(0) translate3d(-100%, 0, 0) scale3d(1, 1, 1);
    }
    65% {
        width: 100%;
        left: 0;
    }
    100% {
        transform: skewX(30deg) translateX(120%) scaleY(1);
        display: none;
    }
}

@keyframes fadeHidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@keyframes textHidden {
    0% {
        opacity: 0;
        transform: translateX(-4%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes navAnime {
    0% {
        opacity: 0;
        transform: translateX(4%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




@keyframes photoHidden {
    0% {
        opacity: 0;
        transform: translateX(-4%);
        transform-origin: left center;
        width: 50%;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        width: 100%;
    }
}
