@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wow {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@-webkit-keyframes textInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }

    70% {
        //opacity: 0.7;
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}

@keyframes textInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }
    70% {
        opacity: 0.7;
    }


    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.textInUp {
    -webkit-animation-name: textInUp;
    animation-name: textInUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0); //        -webkit-filter: blur(8px);
        //        -moz-filter: blur(8px);
        //        -o-filter: blur(8px);
        //        -ms-filter: blur(8px);
        //        filter: blur(8px);
    } //    70% {
    //        //opacity: 0.7;
    //        -webkit-filter: blur(3px);
    //        -moz-filter: blur(3px);
    //        -o-filter: blur(3px);
    //        -ms-filter: blur(3px);
    //        filter: blur(3px);
    //    }
    to {
        opacity: 1;
        -webkit-transform: none; //        transform: none;
        //        -webkit-filter: blur(0);
        //        -moz-filter: blur(0);
        //        -o-filter: blur(0);
        //        -ms-filter: blur(0);
        //        filter: blur(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0); //        -webkit-filter: blur(8px);
        //        -moz-filter: blur(8px);
        //        -o-filter: blur(8px);
        //        -ms-filter: blur(8px);
        //        filter: blur(8px);
    } //    70% {
    //       // opacity: 0.7;
    //        -webkit-filter: blur(3px);
    //        -moz-filter: blur(3px);
    //        -o-filter: blur(3px);
    //        -ms-filter: blur(3px);
    //        filter: blur(3px);
    //    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none; //        -webkit-filter: blur(0);
        //        -moz-filter: blur(0);
        //        -o-filter: blur(0);
        //        -ms-filter: blur(0);
        //        filter: blur(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpBig {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
}



@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}



@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
        visibility: visible;
		opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
		opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
        visibility: visible;
		opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
		opacity: 1;
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}


////
@-webkit-keyframes reveal-original {
    from {
        transform: skewX(0deg) translateX(-140%) scaleY(-0.2);
    }

    to {
        visibility: hidden;
        transform: skewX(30deg) translateX(80%) scaleY(1);
        display: none;
    }
}

@keyframes reveal-original {
    from {
        transform: skewX(0deg) translateX(-140%) scaleY(-0.2);
    }

    to {
        visibility: hidden;
        transform: skewX(30deg) translateX(80%) scaleY(1.2);
        display: none;
    }
}

//.reveal-original-wrap {
//    position: relative;
//     display: block;
//    height: 40vw;
//}
//
//
//
//.reveal-original {
//    overflow: hidden;
//    position: relative;
//    height: 100vw;
//    max-width: 100%;
//    -webkit-animation-name: fadeIn;
//    animation-name: fadeIn;
//    top: 0;
//    //height: 0;
//    display: block;
//
//    span {
//        position: absolute;
//        overflow: hidden;
//        background: $base;
//        width: 120%;
//        top: -20%;
//        content: "";
//        height: 140%;
//        display: block;
//        transform-origin: center;
//        -webkit-animation-name: reveal-original;
//        animation-name: reveal-original;
//    }
//
//}
//
@-webkit-keyframes fadeInBg {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 0.14;
    }
}

@keyframes fadeInBg {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 0.14;
    }
}

.fadeInBg {
    -webkit-animation-name: fadeInBg;
    animation-name: fadeInBg;
}


//// blur
@-webkit-keyframes blurIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
        filter: blur(8px);
    }

    70% {
        //opacity: 0.7;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes blurIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
        filter: blur(8px);
    }
    70% {
        // opacity: 0.7;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }


    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
}

.blurIn {
    -webkit-animation-name: blurIn;
    animation-name: blurIn;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



//// textIn
@-webkit-keyframes textIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }

    70% {}

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes textIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);

    }
    70% {}


    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;

    }
}

.textIn {
    -webkit-animation-name: textIn;
    animation-name: textIn;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


//// nameIn
@-webkit-keyframes nameIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -webkit-transform: translate3d(0, 120px, 0);
        transform: translate3d(0, 120px, 0);
    }
}

@keyframes nameIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
    }
    60% {
        opacity: 1;
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        -webkit-transform: translate3d(0, 120px, 0);
        transform: translate3d(0, 120px, 0);
    }
}

.nameIn {
    -webkit-animation-name: nameIn;
    animation-name: nameIn;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



@keyframes arrow {
    from {

        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

    }
    50% {

        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);

    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

    }
}


.arrow {
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    @keyframes itemIn {
        from {
            opacity: 0;
            transform: translate3d(0, 100px, 0) scale(0.95);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(1)
        }
    }

    .itemIn {
        -webkit-animation-name: itemIn;
        animation-name: itemIn;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
