/*
Utility

This means helper class like a snippet.
Utility should always have the prefix "u-".
And you should not feel free to add a new Utility class.
*/

//hide text
.u-hidden {
	overflow: hidden;
	text-indent: 120%;
	white-space: nowrap;
}

//clearfix
.u-clear {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: block;
	}

	&:after {
		clear: both;
	}
}

.u-elps {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.u-notap {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.u-hide {
	display: none;
}

.u-pc-hidden {
	display: none;
}

.u-sp-hidden {
	display: block;
}

.u-en {
	font-family: $font-en;
}

em {
	font-style: italic;
}


.u-text-jp {
	font-family: $font-jp;
}

.u-text-en {
	font-family: $font-en;
}

.d-flex {
	display: flex;
}


.u-pc-hidden {

	display: none;
}

.u-sp-hidden {
	display: block;
}

.ta-center {
	text-align: center;
}

.u-upper {
	text-transform: uppercase;
}

.u-bold {
	font-weight: bold;
}

.u-font-en {
	font-family: $font-en;
}

.u-font-jp {
	font-family: $font-jp;
}

@include query($break-sm) {
	.u-pc-hidden {
		display: block;
	}

	.u-sp-hidden {
		display: none;
	}
}
