.other {
    width: 100%;
    padding-top: 230px;
    @media screen and (max-width: 480px) {
        padding-top: 150px;
    }
    .otherinner {
        width: 1100px;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            display: block;
            width: 90%;
        }
        .about_titles {
            position: relative;
            height: 200px;
            @media screen and (max-width: 480px) {
                height: 60px;
            }
            h5 {
                font-size: $jp-ms;
                font-family: $font-jp02;
                letter-spacing: 6px;
                position: absolute;
                z-index: 1;
                top: 130px;
                left: 0px;
                @media screen and (max-width: 480px) {
                    font-size: $jp-ms;
                    top: 0;
                    left: 0px;
                }
            }
            p {
                color: #CFD0CD;
                font-family: $font-en;
                font-size: 9.0rem;
                position: absolute;
                z-index: 0;
                top: 0px;
                left: -70px;
                @media screen and (max-width: 480px) {
                    font-size: 7rem;
                    top: -50px;
                    left: -10px;
                }
            }
        }
        .about_inner {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            position: relative;
            top: 0;
            left: 0;
            @media screen and (max-width: 480px) {
                margin-top: 20px;
                display: unset;
            }
            .left_about {
                width: 25%;
                position: relative;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                .nav {
                    width: 100%;
                    float: left;
                    top: 0;
                    z-index: 10;
                    @media screen and (max-width: 480px) {
                        float: unset;
                        margin-bottom: 40px;
                    }
                }
                ul {
                    @media screen and (max-width: 480px) {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    li {
                        margin-bottom: 10px;
                        position: relative;
                        @media screen and (max-width: 480px) {
                            width: 30%;
                            font-size: $jp-ss;
                        }
                        a {
                            position: relative;
                            display: inline-block;
                            text-decoration: none;
                            &::after {
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                content: '';
                                width: 100%;
                                height: 1px;
                                background: #333;
                                transform: scale(0, 1);
                                transform-origin: right top;
                                transition: transform .3s;
                            }
                        }
                        a:hover::after {
                            transform-origin: left top;
                            transform: scale(1, 1);
                        }
                    }
                    li:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border: 0;
                        border-top: solid 1px #222;
                        border-right: solid 1px #222;
                        position: absolute;
                        top: 50%;
                        left: 42%;
                        margin-top: -4px;
                        transform: rotate(45deg);
                        @media screen and (max-width: 480px) {
                            top: 50%;
                            left: 90%;
                        }
                    }
                    li.arrow_down:before {
                        @media screen and (max-width: 480px) {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
            .right_about {
                width: 70%;
                overflow: hidden;
                display: block;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                .about_col {
                    position: relative;
                    margin-bottom: 200px;
                    @media screen and (max-width: 480px) {
                        margin-bottom: 50px;
                    }
                    .page_movie {
                        max-height: 500px;
                        width: 100%;
                    }
                    .catch_text {
                        position: absolute;
                        font-size: 6.0rem;
                        line-height: 1;
                        color: $color-main;
                        font-family: $font-en;
                        left: 5%;
                        top: 300px;
                        z-index: 1;
                        @media screen and (max-width: 480px) {
                            top: 120px;
                        }
                    }
                    .catch_main {
                        font-size: $jp-m;
                        font-family: $font-jp02;
                        line-height: 1.4;
                        letter-spacing: 8px;
                        margin-top: 150px;
                        margin-left: 5%;
                        @media screen and (max-width: 480px) {
                            margin-top: 80px;
                        }
                    }
                    .catch_main_text {
                        margin-left: 5%;
                        margin-top: 20px;
                        line-height: 2.0;
                        @media screen and (max-width: 480px) {
                            font-size: $jp-ss;
                        }
                    }
                    .catch_img01 {
                        width: 250px;
                        margin-left: auto;
                        margin-top: 80px;
                        @media screen and (max-width: 480px) {
                            width: 100px;
                            margin-top: 50px;
                        }
                        img {
                            width: 100%;
                            height: 360px;
                            object-fit: cover;
                            @media screen and (max-width: 480px) {
                                height: 140px;
                            }
                        }
                    }
                    .catch_img02 {
                        margin-top: -200px;
                        width: 450px;
                        @media screen and (max-width: 480px) {
                            width: 220px;
                            margin-top: -100px;
                        }
                        img {
                            width: 100%;
                            height: 285px;
                            object-fit: cover;
                            @media screen and (max-width: 480px) {
                                height: 140px;
                            }
                        }
                    }
                }
                .about_col02 {
                    position: relative;
                    margin-top: 50px;
                    .about_col_inner {
                        position: relative;
                        z-index: 1;
                        .title {
                            font-size: $jp-s;
                        }
                        .text {
                            margin-top: 10px;
                            line-height: 2.5;
                            @media screen and (max-width: 480px) {
                                font-size: $jp-ss;
                            }
                        }
                        .imgs {
                            margin: 50px 0;
                            min-height: 600px;
                            @media screen and (max-width: 480px) {
                                min-height: 270px;
                            }
                            ul {
                                position: relative;
                                .img01 {
                                    position: absolute;
                                    top: 100px;
                                    left: 10%;
                                    z-index: 2;
                                    @media screen and (max-width: 480px) {
                                        top: 60px;
                                        left: 10%;
                                    }
                                    img {
                                        width: 300px;
                                        height: 400px;
                                        object-fit: cover;
                                        @media screen and (max-width: 480px) {
                                            width: 150px;
                                            height: 200px;
                                        }
                                    }
                                }
                                .img02 {
                                    position: absolute;
                                    top: 0%;
                                    right: 5%;
                                    z-index: 1;
                                    img {
                                        width: 400px;
                                        height: 600px;
                                        object-fit: cover;
                                        @media screen and (max-width: 480px) {
                                            width: 200px;
                                            height: 320px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .bg_text {
                        font-family: $font-en;
                        font-size: 9rem;
                        color: #F0F0F0;
                        position: absolute;
                        z-index: -1;
                        line-height: 1;
                        top: 5%;
                        right: 0;
                        white-space: nowrap;
                        text-align: right;
                        @media screen and (max-width: 480px) {
                            font-size: 7rem;
                            margin-left: 0%;
                        }
                    }
                }
                .about_col03 {
                    position: relative;
                    margin-top: 100px;
                    margin-bottom: 150px;
                    .about_col_inner {
                        position: relative;
                        z-index: 1;
                        .title {
                            font-size: $jp-s;
                        }
                        .text {
                            margin-top: 10px;
                            line-height: 2.5;
                            @media screen and (max-width: 480px) {
                                font-size: $jp-ss;
                            }
                        }
                        .img {
                            margin: 50px 0;
                            width: 90%;
                            margin-left: auto;
                            img {
                                width: 100%;
                                height: 400px;
                                object-fit: cover;
                                @media screen and (max-width: 480px) {
                                    width: 100%;
                                    height: 180px;
                                }
                            }
                        }
                    }
                    .bg_text {
                        font-family: $font-en;
                        font-size: 7rem;
                        color: #F0F0F0;
                        position: absolute;
                        z-index: -1;
                        line-height: 1;
                        top: 5%;
                        right: 0;
                        white-space: nowrap;
                        text-align: right;
                        @media screen and (max-width: 480px) {
                            font-size: 6.5rem;
                            margin-left: 0%;
                        }
                    }
                }
            }
        }
    }
}

.about_tech_col {
    margin-top: 100px;
    @media screen and (max-width: 480px) {
        margin-top: 50px;
    }
    .about_tech_list {
        .option {
            position: relative;
            margin-bottom: 10px;
            @media screen and (max-width: 480px) {
                margin-bottom: 20px;
                padding-bottom: 0px;
            }
            .toggle {
                display: none;
            }
            .title {
                font-weight: bold;
                display: block;
                @media screen and (max-width: 480px) {
                    padding-right: 70px;
                }
            }
            .title,
            .content {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transform: translateZ(0);
                transition: all 0.3s;
                font-size: $jp-sss;
                @media screen and (max-width: 480px) {
                    font-size: $jp-s;
                }
            }
            .title::after,
            .title::before {
                content: "";
                position: absolute;
                right: 40px;
                bottom: 30px;
                width: 2px;
                height: $jp-s;
                background-color: #FFF;
                transition: all 0.3s;
                @media screen and (max-width: 480px) {
                    bottom: 20px;
                    right: 20px;
                }
            }
            .title::after {
                transform: rotate(90deg);
            }
            .list01 {
                background: url(../img/about/tech_img01.png) no-repeat center top;
                background-size: cover;
                width: 100%;
                height: 250px;
                @media screen and (max-width: 480px) {
                    height: 140px;
                }
            }
            .list02 {
                background: url(../img/about/tech_img02.png) no-repeat center top;
                background-size: cover;
                width: 100%;
                height: 250px;
                @media screen and (max-width: 480px) {
                    height: 140px;
                }
            }
            .list03 {
                background: url(../img/about/tech_img03.png) no-repeat center top;
                background-size: cover;
                width: 100%;
                height: 250px;
                @media screen and (max-width: 480px) {
                    height: 140px;
                }
            }
            .list04 {
                background: url(../img/about/tech_img04.png) no-repeat center top;
                background-size: cover;
                width: 100%;
                height: 250px;
                @media screen and (max-width: 480px) {
                    height: 140px;
                }
            }
            .content {
                max-height: 0;
                overflow: hidden;
                .text {
                    width: 90%;
                    margin: 40px auto 80px;
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 480px) {
                        margin: 20px auto 40px;
                        width: 100%;
                    }
                    .left {
                        width: 75%;
                        .tech_list_title {
                            font-size: $jp-s;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #CFD0CD;
                        }
                        .tech_list_text {
                            font-size: $jp-sss;
                        }
                        .tech_list_btn {
                            text-align: left;
                            margin-top: 15px;
                            a {
                                font-size: $jp-xss;
                                border: 1px solid #DDD;
                                border-radius: 25px;
                                padding: 10px 25px;
                                @media screen and (max-width: 480px) {
                                    font-size: $jp-ss;
                                }
                                &:hover {
                                    color: #FFF !important;
                                    border: 1px solid $color-main;
                                    background: $color-main;
                                    -webkit-transition: all 0.5s ease;
                                    -moz-transition: all 0.5s ease;
                                    -o-transition: all 0.5s ease;
                                    transition: all  0.5s ease;
                                }
                            }
                        }
                    }
                    .right {
                        width: 20%;
                        img {
                            width: 100%;
                            height: 100px;
                            object-fit: cover;
                            @media screen and (max-width: 480px) {
                                height: 80px;
                            }
                        }
                    }
                }
            }
            .toggle:checked + .title + .content {
                max-height: 500px;
                transition: all 1.5s;
            }
            .toggle:checked + .title::before {
                transform: rotate(90deg) !important;
            }
            .more_inner {
                line-height: 2.0;
                li {
                    a {
                        &:hover {
                            margin-left: 5px;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                            color: $color-main;
                        }
                    }
                }
                span.new {
                    background: $color-main;
                    color: #FFF;
                    padding: 3px 5px;
                    font-size: $jp-xss;
                    margin-left: 5px;
                }
            }
        }
    }
}


.timeline_col {
    margin: 100px 0 200px;
    @media screen and (max-width: 480px) {
        margin: 50px 0 100px;
    }
    .timeline {
        width: 100%;
        &-list {
            padding: 40px 0;
            &-item {
                display: flex;
                .date {
                    width: 30%;
                    color: #A37E2C;
                    font-family: "Marcellus", serif;
                    font-size: $jp-ss;
                    text-align: right;
                    padding-right: 30px;
                    @media screen and (max-width: 480px) {
                        width: 20%;
                        padding-right: 10px;
                    }
                }
                .content_col {
                    position: relative;
                    width: 70%;
                    padding: 0 40px 40px 30px;
                    border-left: 1px solid #DDD;
                    @media screen and (max-width: 480px) {
                        width: 80%;
                        padding: 0 0px 40px 30px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -5px; //widthの半分の値を指定
                        width: 10px;
                        height: 10px;
                        background-color: $color-main;
                        border-radius: 10px;
                        z-index: 2;
                    }
                    &::after {
                        content: "";
                        width: 20px;
                        height: 1px;
                        background: #DDD;
                        position: absolute;
                        top: 14px;
                        left: 0;
                        z-index: 1;
                    }
                    .tl_title {
                        font-size: $jp-ss;
                        color: $color-main;
                        font-weight: bold;
                        @media screen and (max-width: 480px) {
                            font-size: $jp-s;
                        }
                    }
                    .tl_subtitle {
                        @media screen and (max-width: 480px) {
                            font-size: $jp-ss;
                        }
                    }
                    .tl_text {
                        font-size: $jp-xss;
                        @media screen and (max-width: 480px) {
                            font-size: $jp-xs;
                        }
                    }
                }
            }
        }
    }
}


.accordion_tl {
    .option {
        position: relative;
        .toggle {
            display: none;
        }
        .title {
            display: block;
            font-size: $jp-ss;
        }
        .title,
        .content {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: all 0.3s;
        }
        .title::after,
        .title::before {
            content: "";
            position: absolute;
            right: 1.25em;
            top: 8px;
            width: 1px;
            height: 0.75em;
            background-color: #222;
            transition: all 0.3s;
        }
        .title::after {
            transform: rotate(90deg);
        }
        .content {
            max-height: 0;
            overflow: hidden;
            .text {
                font-size: $jp-ss;
                padding-top: 10px;
                @media screen and (max-width: 480px) {
                    font-size: $jp-ss;
                }
            }
        }
        .toggle:checked + .title + .content {
            max-height: 500px;
            transition: all 1.5s;
        }
        .toggle:checked + .title::before {
            transform: rotate(90deg) !important;
        }
    }
}