.about {
    width: 100%;
    margin: 150px 0 200px;
    @media screen and (max-width: 480px) {
        margin: 70px 0 0;
    }
    .aboutinner {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        @media screen and (max-width: 480px) {
            display: block;
            width: 90%;
        }
        .aboutinner_left {
            width: 33%;
            text-align: center;
            position: relative;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            h2.about_title {
                img {
                    width: 10.0rem;
                    @media screen and (max-width: 480px) {
                        width: 9.0rem;
                    }
                }
            }
        }
        .aboutinner_right {
            width: 67%;
            @media screen and (max-width: 480px) {
                width: 100%;
            }
            .aboutinner_right_in {
                position: relative;
                padding-bottom: 200px;
                @media screen and (max-width: 480px) {
                    padding-bottom: 100px;
                }
                h3.about_subtitle {
                    margin: 200px 0 40px;
                    font-size: $jp-ms;
                    letter-spacing: 2.2px;
                    font-family: $font-jp02;
                    @media screen and (max-width: 480px) {
                        text-align: center;
                        font-size: $jp-m;
                        margin: 70px 0 50px;
                    }
                }
                .about_text {
                    line-height: 2.5;
                    letter-spacing: 1.5px;
                    position: relative;
                    z-index: 1;
                    @media screen and (max-width: 480px) {
                        font-size: $jp-s;
                    }
                }
                .bg_text {
                    color: #E5E5E5;
                    text-align: right;
                    font-size: 9.0rem;
                    font-family: $font-en;
                    position: absolute;
                    bottom: 40px;
                    right: -70px;
                    z-index: 0;
                    line-height: 0.8;
                    @media screen and (max-width: 480px) {
                        right: 10px;
                        bottom: 20px;
                        font-size: 7.0rem;
                    }
                }
            }
            .about_movie {
                position: absolute;
                right: 0;
                height: 520px;
                overflow: hidden;
                width: 65%;
                @media screen and (max-width: 480px) {
                    height: 200px;
                    width: 85%;
                }
            }
            .about_point {
                margin-top: 650px;
                @media screen and (max-width: 480px) {
                    margin: 250px 0 100px;
                }
                ul {
                    @media screen and (max-width: 480px) {
                        width: 85%;
                        margin-left: auto;
                    }
                    li {
                        border-bottom: 1px solid #D3D3D3;
                        padding-bottom: 60px;
                        margin-bottom: 60px;
                        .subtitle {
                            color: $color-main;
                            font-size: $jp-ss;
                            font-family: $font-en;
                        }
                        .title {
                            font-size: $jp-ms;
                            letter-spacing: 3.5px;
                            font-family: $font-jp02;
                            margin-bottom: 20px;
                        }
                        .text {
                            line-height: 2.5;
                            letter-spacing: 2.0px;
                            position: relative;
                            z-index: 1;
                            color: $color-sub;
                            @media screen and (max-width: 480px) {
                                font-size: $jp-ss;
                                line-height: 1.8;
                            }
                        }
                    }
                    li:nth-of-type(2) {margin-bottom: 0px;}
                }
            }
            .more_btn {
                text-align: right;
                a {
                    color: $color-default;
                    font-family: $font-en;
                    font-size: $jp-s;
                    display: block;
                    .circle {
                        background: $color-default;
                        border-radius: 50%;
                        padding: 35px 38px;
                        text-align: center;/* ←文字を左右に中央揃え */
                        margin-left: 30px;
                        @media screen and (max-width: 480px) {
                            padding: 15px 17px;
                            margin-left: 20px;
                        }
                        img {
                            width: 25px;
                            vertical-align: middle;
                            @media screen and (max-width: 480px) {
                                width: 15px;
                            }
                        }
                    }
                    .circle:hover {
                        background: $color-main;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all  0.5s ease;
                    }
                }
                a:hover {
                    color: $color-main;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all  0.5s ease;
                }
            }
        }
    }
}

.l-link {
  display: flex;
  width: 100%;
  padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}
.link {
	background: $color-default;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	display: block;
	transition: all 1s $easeOutExpo;
    border: 10px solid $color-border;
	box-sizing: content-box;
    margin-left: auto;
    @media screen and (max-width: 480px) {
        width: 60px;
        height: 60px;
        border: 5px solid $color-border;
    }
	&-allow {
		width: 30px;
		height: 30px;
		position: relative;
		left: 50%;
		top: 50%;
		border-radius: 50%;
		transform: translate(-50%, -50%);
        @media screen and (max-width: 480px) {
            width: 20px;
		    height: 20px;
        }
		&-inner {
			display: block;
			width: 110%;
			height: 110%;
			background-image: url(../img/common/arrow.svg);
			background-size: cover;
		}
	}

	&:hover {
		transform: scale(1.1);
		transform-origin: center;

		.link-allow {
			overflow: hidden;

			@keyframes linkHover {
				0% {
					transform: translateX(0);
				}

				50% {
					transform: translateX(110%);
				}

				51% {
					transform: translateX(-100%);
				}

				100% {
					transform: translateX(0%);
				}
			}

			&-inner {
				animation: linkHover 1s ease forwards;
			}
		}
	}
}


#app {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s;
    &.bg1 {
        background-image: url(../img/index/about_items01_bg.png);
        @media screen and (max-width: 480px) {
            background-image: unset;
        }
    }
    &.bg2 {
        background-image: url(../img/index/about_items02_bg.png);
        @media screen and (max-width: 480px) {
            background-image: unset;
        }
    }
    &.bg3 {
        background-image: url(../img/index/about_items03_bg.png);
        @media screen and (max-width: 480px) {
            background-image: unset;
        }
    }
    .about_list {
        position: relative;
        width: 100%;
        @media screen and (max-width: 480px) {
            height: 400px;
            overflow: hidden;
        }
        .list {
            list-style: none;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 480px) {
                display: block;
            }
              li {
                width: 33.3333%;
                border-right: 1px solid #D3D3D3;
                @media screen and (max-width: 480px) {
                    width: 65%;
                    margin-right: -4px;
                    &:nth-of-type(1) {
                        background: url(../img/index/about_items01_bg.png) no-repeat center top;
                        background-size: cover;
                        height: 100%;
                    }
                    &:nth-of-type(2) {
                        background: url(../img/index/about_items02_bg.png) no-repeat center top;
                        background-size: cover;
                        height: 100%;
                    }
                    &:nth-of-type(3) {
                        background: url(../img/index/about_items03_bg.png) no-repeat center top;
                        background-size: cover;
                        height: 100%;
                    }
                }
                a {
                    display: block;
                    transition: background-color 0.3s;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                        color: #FFF;
                    }
                }
                .list_items_inner {
                    position: relative;
                    height: 720px;
                    @media screen and (max-width: 480px) {
                        height: 400px;
                    }
                    .number {
                        font-family: $font-en;
                        font-size: $jp-sss;
                        position: absolute;
                        left: 10%;
                        top: 5%;
                        @media screen and (max-width: 480px) {
                            top: 10%;
                            color: #FFF;
                        }
                    }
                    .title {
                        font-family: $font-en;
                        font-size: $jp-ml;
                        word-break: normal;
                        letter-spacing: 2px;
                        line-height: 1.2;
                        position: absolute;
                        left: 10%;
                        top: 33%;
                        @media screen and (max-width: 480px) {
                            font-size: $jp-l;
                            top: 30%;
                            color: #FFF;
                        }
                        span {
                            font-size: $jp-ml;
                        }
                    }
                    .text {
                        font-size: $jp-sss;
                        position: absolute;
                        left: 10%;
                        top: 53%;
                        @media screen and (max-width: 480px) {
                            font-size: $jp-ss;
                            top: 53%;
                            color: #FFF;
                        }
                    }
                    .more_btn {
                        position: absolute;
                        left: 10%;
                        bottom: 7%;
                        border: 1px solid #FFF;
                        border-radius: 50%;
                        width: 75px;
                        height: 75px;
                        line-height: 75px;
                        text-align: center;/* ←文字を左右に中央揃え */
                        @media screen and (max-width: 480px) {
                            padding: 15px 17px;
                            bottom: 10%;
                        }
                        img {
                            width: 25px;
                            vertical-align: middle;
                            @media screen and (max-width: 480px) {
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .horizontal-list {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .item {
      /* 横スクロール用 */
      display: inline-block;
    }
}

.pickup {
    width: 100%;
    margin: 200px auto 0;
    &_inner {
        &_titles {
            position: relative;
            height: 150px;
            @media screen and (max-width: 480px) {
                height: 60px;
            }
            h5 {
                font-size: $jp-ms;
                font-family: $font-jp02;
                letter-spacing: 8px;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 150px;
                @media screen and (max-width: 480px) {
                    top: 0;
                    left: 50px;
                }
            }
            p {
                color: #E5E5E5;
                font-family: $font-en;
                font-size: 9rem;
                position: absolute;
                z-index: 0;
                top: -130px;
                left: 60px;
                @media screen and (max-width: 480px) {
                    top: -80px;
                    left: 20px;
                }
            }
        }
    }
    .pickup_list {
        &_item {
            position: relative;
            width: 100%;
            min-height: 850px;
            overflow: hidden;
            @media screen and (max-width: 480px) {
                min-height: auto;
            }
            &_inner {
                display: flex;
                flex-direction: row-reverse;
                width: 100%;
                position: absolute;
                @media screen and (max-width: 480px) {
                    display: block;
                    position: relative;
                    margin-bottom: 50px;
                }
                z-index: 0;
                .left {
                    width: 50%;
                    @media screen and (max-width: 480px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                    .title,
                    .titleimg,
                    .text {
                        padding-left: 15%;
                        padding-right: 15%;
                        @media screen and (max-width: 480px) {
                            width: 100%;
                        }
                    }
                    .title {
                        padding-top: 10%;
                        color: $color-sub;
                        @media screen and (max-width: 480px) {
                            text-align: right;
                            padding: 40px 0 0px;
                        }
                    }
                    .titleimg {
                        margin: 20px 0 60px;
                        @media screen and (max-width: 480px) {
                            text-align: right;
                            padding: 0;
                            margin: 10px 0 40px;
                        }
                        img {
                            height: 65px;
                            width: auto;
                            @media screen and (max-width: 480px) {
                                height: 30px;
                            }
                        }
                    }
                    .text {
                        font-size: $jp-sss;
                        line-height: 2.5;
                        letter-spacing: 2px;
                        @media screen and (max-width: 480px) {
                            padding: 0;
                            font-size: $jp-ss;
                            line-height: 2.0;
                            letter-spacing: 1.0px;
                        }
                    }
                    .more_btn {
                        display: none;
                        @media screen and (max-width: 480px) {
                            display: block;
                            text-align: right;
                            margin: 40px 0 100px;
                            a {
                                color: $color-default;
                                font-family: $font-en;
                                font-size: $jp-s;
                                .circle {
                                    background: $color-default;
                                    border-radius: 50%;
                                    text-align: center;/* ←文字を左右に中央揃え */
                                    padding: 15px 17px;
                                    margin-left: 20px;
                                    img {
                                        width: 15px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
                .right {
                    width: 50%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    img {
                        background-size: cover;
                        object-fit: cover;
                        height: 850px;
                        @media screen and (max-width: 480px) {
                            height: 200px;
                        }
                    }
                }
            }
            &_productimg {
                position: absolute;
                z-index: 1;
                bottom: 5%;
                left: 5%;
                @media screen and (max-width: 480px) {
                    left: 0%;
                    top: 22%;
                }
                img {
                    width: 60%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                }
            }
        }
    }
    .more_product {
        a {
            display: block;
            border-top: 1px solid $color-sub;
            font-size: $jp-m;
            letter-spacing: 3px;
            font-family: $font-en;
            text-align: center;
            padding: 150px 0;
            color: $color-default;
            position: relative;
            z-index: 1;
            transition: .3s;
            @media screen and (max-width: 480px) {
                padding: 50px 0;
            }
        }
        a::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: #121212;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform ease .3s;
          }
          a:hover {
            color: #fff;
          }
          a:hover::before {
            transform-origin: 0% 50%;
            transform: scaleX(1);
          }
    }
}

.info_inner a {
    transition: .5s;
}
.info_inner a:hover {
	box-shadow: 0 10px 30px 0 rgba(0,0,0,.15);
}
.info_inner_btn {
	position: relative;
	overflow: hidden;
}
.info_inner_btn::after {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s;
}
.info_inner a:hover .info_inner_btn::after {
	background: rgba(11,11,18,0.2);
}



.info {
    background: url(../img/index/grey_bg.png) repeat;
    width: 100%;
    height: auto;
    &_inner {
        width: 1100px;
        margin: 0 auto;
        padding: 200px 0;
        @media screen and (max-width: 480px) {
            width: 90%;
            padding-top: 50px;
            padding-bottom: 70px;
        }
        a {
            display: block;
        }
        &_btn {
            padding: 100px;
            background: #FFF;
            border: 1px solid #D8D8D8;
            display: flex;
            @media screen and (max-width: 480px) {
                padding: 30px;
                font-size: $jp-ss;
            }
            .left {
                width: 70%;
                .subtitle {
                    font-size: $jp-sss;
                    font-family: $font-en;
                    color: $color-main;
                }
                .title {
                    font-size: $jp-ms;
                    font-family: $font-jp02;
                    color: $color-default;
                }
            }
            .right {
                width: 30%;
                position: relative;
                .circle {
                    position: absolute;
                    right: 0;
                    background: $color-default;
                    border-radius: 50%;
                    padding: 35px 38px;
                    text-align: center;/* ←文字を左右に中央揃え */
                    @media screen and (max-width: 480px) {
                        padding: 15px 17px;
                    }
                    img {
                        width: 25px;
                        vertical-align: middle;
                        @media screen and (max-width: 480px) {
                            width: 15px;
                        }
                    }
                }
            }
        }
        &_news {
            @media screen and (max-width: 480px) {
                margin-top: 100px;
            }
            &_titles {
                position: relative;
                height: 200px;
                @media screen and (max-width: 480px) {
                    height: 60px;
                }
                h5 {
                    font-size: $jp-ms;
                    font-family: $font-jp02;
                    letter-spacing: 6px;
                    position: absolute;
                    z-index: 1;
                    top: 130px;
                    left: 0px;
                    @media screen and (max-width: 480px) {
                        top: 0;
                        left: 0px;
                    }
                }
                p {
                    color: #CFD0CD;
                    font-family: $font-en;
                    font-size: 9rem;
                    position: absolute;
                    z-index: 0;
                    top: 0px;
                    left: -70px;
                    @media screen and (max-width: 480px) {
                        font-size: 7rem;
                        top: -50px;
                        left: -10px;
                    }
                }
            }
            &_list {
                width: 67%;
                margin-left: auto;
                @media screen and (max-width: 480px) {
                    width: 90%;
                    margin: 0 auto 40px;
                }
                li {
                    padding: 40px 0;
                    border-bottom: 1px solid #D8D8D8;
                    letter-spacing: 1.5px;
                    @media screen and (max-width: 480px) {
                        font-size: $jp-ss;
                        line-height: 1.8;
                        padding: 20px 0;
                    }
                    span {
                        font-size: $jp-sss;
                        font-family: $font-en;
                        color: $color-main;
                        margin-right: 20px;
                    }
                }
            }
            .more_news {
                text-align: right;
                padding: 70px 0 0px;
                a {
                    color: $color-default;
                    font-family: $font-en;
                    font-size: $jp-s;
                    .circle {
                        background: $color-default;
                        border-radius: 50%;
                        width: 75px;
                        height: 75px;
                        line-height: 75px;
                        text-align: center;/* ←文字を左右に中央揃え */
                        margin-left: 30px;
                        @media screen and (max-width: 480px) {
                            padding: 15px 17px;
                            margin-left: 20px;
                        }
                        img {
                            width: 25px;
                            vertical-align: middle;
                            @media screen and (max-width: 480px) {
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cv {
    width: 100%;
    height: auto;
    background: url(../img/index/f_cvimg.png) no-repeat center top;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    &_inner {
        text-align: center;
        padding: 250px 0;
        @media screen and (max-width: 480px) {
            padding: 70px 0;
        }
        a {
            color: $color-default;
            .title {
                font-size: $jp-l;
                font-family: $font-en;
                letter-spacing: 2.0px;
            }
            .text {
                letter-spacing: 1.5px;
                @media screen and (max-width: 480px) {
                    font-size: $jp-sss;
                    line-height: 1.8;
                }
                .icon {
                    vertical-align: text-bottom;
                    margin-left: 5px;
                }
            }
        }
        a:hover {
            color: $color-main;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all  0.5s ease;
        }
    }
}

.sp_br {
    display: block;
    @media screen and (max-width: 480px) {
        display: none;
    }
}

.pc_br {
    display: none;
    @media screen and (max-width: 480px) {
        display: block;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5% !important;
}