.other {
    width: 100%;
    padding-top: 230px;
    @media screen and (max-width: 480px) {
        padding-top: 150px;
    }
    .otherinner {
        width: 1100px;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            display: block;
            width: 90%;
        }
        .sub_info_text {
            @media screen and (max-width: 480px) {
                font-size: 1.2rem;
                margin-bottom: 40px;
            }
            .mail {
                padding: 3px 5px;
                margin: 0 3px;
                background: #121212;
                color: #FFF;
                font-size: 0.8rem;
                @media screen and (max-width: 480px) {
                    font-size: 1.0rem;
                }
            }
        }
        .news_list {
            ul {
                width: 80%;
                margin-left: auto;
                margin-top: 100px;
                @media screen and (max-width: 480px) {
                    width: 90%;
                    margin-top: 0px;
                }
                li {
                    border-bottom: 1px solid #AFAFAF;
                    padding-bottom: 50px;
                    margin-bottom: 40px;
                    @media screen and (max-width: 480px) {
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                    }
                    .news_title {
                        font-weight: bold;
                        font-size: 2.0rem;
                        position: relative;
                        margin-bottom: 40px;
                        @media screen and (max-width: 480px) {
                            margin-bottom: 10px;
                            font-size: 1.6rem;
                        }
                        .data {
                            font-size: 0.8rem;
                            color: $color-main;
                            transform: rotate(-90deg);
                            position: absolute;
                            top: 60px;
                            left: -80px;
                            font-family: $font-en;
                            @media screen and (max-width: 480px) {
                                font-size: 1.0rem;
                                top: 30px;
                                left: -50px;
                            }
                        }
                        .tag {
                            font-size: 0.8rem;
                            color: #AFAFAF;
                            @media screen and (max-width: 480px) {
                                font-size: 1.0rem;
                            }
                        }
                        .button {
                            pointer-events: auto;
                            background: #FFF;
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            text-align: left;
                            span {
                                font-weight: bold;
                                font-size: 2.0rem;
                                position: relative;
                                margin-bottom: 40px;
                                @media screen and (max-width: 480px) {
                                    margin-bottom: 10px;
                                    font-size: 1.8rem;
                                }
                            }
                        }
                        .button::before,
                        .button::after {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        .button--atlas > span {
                            display: inline-block;
                        }
                        .button--atlas:hover > span {
                            opacity: 0;
                        }
                        .marquee {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            overflow: hidden;
                            pointer-events: none;
                        }
                        .marquee__inner {
                            width: fit-content;
                            display: flex;
                            position: relative;
                            --offset: 1rem;
                            --move-initial: calc(-25% + var(--offset));
                            --move-final: calc(-50% + var(--offset));
                            transform: translate3d(var(--move-initial), 0, 0);
                            animation: marquee 1s linear infinite;
                            animation-play-state: paused;
                            opacity: 0;
                        }
                        .button--atlas:hover .marquee__inner {
                            animation-play-state: running;
                            opacity: 1;
                            transition-duration: 0.8s;
                        }
                        .marquee span {
                            text-align: center;
                            white-space: nowrap;
                            font-style: italic;
                        }
                        @keyframes marquee {
                            0% {
                                transform: translate3d(var(--move-initial), 0, 0);
                            }
                            100% {
                                transform: translate3d(var(--move-final), 0, 0);
                            }
                        }
                    }
                    .news_text {
                        @media screen and (max-width: 480px) {
                            font-size: 1.2rem;
                        }
                    }
                    .news_btns {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        margin-top: 40px;
                        @media screen and (max-width: 480px) {
                            margin-top: 10px;
                        }
                        p {
                            text-align: center;
                            @media screen and (max-width: 480px) {
                                margin-top: 10px;
                                min-width: 45%;
                                font-size: 1.2rem;
                            }
                            a {
                                border: 1px solid #DDD;
                                border-radius: 25px;
                                min-width: 150px;
                                padding: 10px;
                                margin-right: 10px;
                                display: block;
                                &:hover {
                                    color: #FFF;
                                    border: 1px solid $color-main;
                                    background: $color-main;
                                    -webkit-transition: all 0.5s ease;
                                    -moz-transition: all 0.5s ease;
                                    -o-transition: all 0.5s ease;
                                    transition: all  0.5s ease;
                                }
                            }
                        }
                    }
                }
                .end {
                    border-bottom: none;
                }
            }
            .pager {
                margin-bottom: 100px;
            }
            .pager .pagination {
                text-align: center;
            }
            .pager .pagination li {
                display: inline;
                margin: 0 2px;
                padding: 0;
                display: inline-block;
                width: 75px;
                height: 75px;
                text-align: center;
                position: relative;
                border-radius: 50px;
                color: #000;
                background: #FFF;
                border: 1px solid #222;
            }
            .other .otherinner .news_list ul li {
                border-bottom: 1px solid #222;
            }
            .pager .pagination li a {
                vertical-align: middle;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                border-radius: 50px;
                width: 75px;
                height: 75px;
                display:table;
                color: #222;
                text-decoration: none;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all  0.3s ease;
                @media screen and (max-width: 480px) {
                    height: 100%;
                }
            }
            .pager .pagination li a span {
                display:table-cell;
                vertical-align:middle;
            }
            .pager .pagination li a:hover,
            .pager .pagination li a.active {
                background: #222;
                color: #FFF;
                border-radius: 50px;
                width: 75px;
                height: 75px;
            }
            @media only screen and (max-width: 767px) {
                .pager .pagination li {
                    display: none;
                }
                .pager .pagination li.pre,
                .pager .pagination li.next {
                    display: inline-block;
                    width: 40%;
                    height: 50px;
                    text-align: center;
                }
                .pager .pagination li.pre a,
                .pager .pagination li.next a {
                    width: 100%;
                    text-align: center;
                    @media screen and (max-width: 480px) {
                        font-size: 1.2rem;
                    }
                }
                .pager .pagination li.pre span::after {
                    content: "　前の10件へ";
                }
                .pager .pagination li.next span::before {
                    content: "次の10件へ　";
                }
            }
        }
    }
}
