.other_product {
    width: 100%;
    padding-top: 230px;
    @media screen and (max-width: 480px) {
        padding-top: 120px;
    }
    .otherinner {
        width: 1100px;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            display: block;
            width: 90%;
        }
        .title_col {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #D3D3D3;
            padding-bottom: 10px;
            margin-bottom: 40px;
            width: 100%;
            align-items: baseline;
            @media screen and (max-width: 480px) {
                margin-bottom: 20px;
            }
            h3 {
                font-size: 3.75rem;
                font-family: $font-en;
                span {
                    font-size: 1.3125rem;
                    color: #AFAFAF;
                    margin-left: 10px;
                }
            }
        }
    }
}
.head_info_product {
    display: flex;
    justify-content: space-between;
    .left {
        width: 7%;
        @media screen and (max-width: 480px) {
            width: 12%;
        }
        .sns_list {
            font-family: $font-en;
            position: relative;
            text-align: center;
            li {
                a {
                    font-size: 1.2rem;
                    color: #121212;
                    @media screen and (max-width: 480px) {
                        font-size: 1.8rem;
                        margin-bottom: 5px;
                    }
                    img {
                        width: 20px;
                        @media screen and (max-width: 480px) {
                            width: 100px;
                        }
                    }
                    &:hover {
                        opacity: 0.5;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all  0.5s ease;
                    }
                }
            }
            .text {
                transform: rotate(90deg);
                color: #AFAFAF;
                position: absolute;
                top: 110px;
                left: -7%;
                width: 90px;
                @media screen and (max-width: 480px) {
                    top: 90px;
                    left: -50%;
                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 30px;
                    border-top: 1px solid #AFAFAF;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }
    .right {
        width: 90%;
        @media screen and (max-width: 480px) {
            width: 85%;
        }
        .right_head_info {
            .text_editor {
                @media screen and (max-width: 480px) {
                    font-size: 1.2rem;
                }
                h4 {
                    font-size: 1.3125rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                    @media screen and (max-width: 480px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .right_head_slider {
            .slider {
                margin: 50px auto 0;
                width: 100%;
                @media screen and (max-width: 480px) {
                    margin: 20px auto 0;
                }
            }
            .thumb {
                margin: 0px auto 50px;
                width: 100%;
                @media screen and (max-width: 480px) {
                    margin: 0px auto 20px;
                }
            }
            .slider img {
                height: 600px;
                width: 100%;
                object-fit: cover;
                @media screen and (max-width: 480px) {
                    height: 170px;
                }
            }
            .thumb img {
                height: 120px;
                width: 400px;
                object-fit: cover;
                cursor: pointer;
                @media screen and (max-width: 480px) {
                    height: 40px;
                }
                &:hover {
                    opacity: 0.7;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all  0.5s ease;
                }
            }/*slick setting*/
            .slick-prev:before,
            .slick-next:before{
                color: #000;
            }
        }
        .right_head_spec {
            table {
                width: 100%;
                th,td {
                    padding: 5px 0;
                    @media screen and (max-width: 480px) {
                        line-height: 1;
                        letter-spacing: 1px;
                        font-size: 1.0rem;
                    }
                }
                th {
                    background: #EAEAEA;
                    width: 25%;
                    text-align: center;
                    font-weight: bold;
                }
                tr {
                    text-align: center;
                    border-bottom: 1px solid #C9C9C9;
                    font-family: 'Oswald', sans-serif;
                }
            }
        }
        .right_head_gallery {
            position: relative;
            .slick_gallery {
                margin: 50px 0 100px;
                padding-bottom: 100px;
                @media screen and (max-width: 480px) {
                    margin: 20px 0 70px;
                    padding-bottom: 40px;
                }
                li {
                    margin-right: 10px;
                    img {
                        height: 200px;
                        object-fit: cover;
                        width: 300px;
                        @media screen and (max-width: 480px) {
                            height: 90px;
                        }
                    }
                }
                .slick-prev {
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: $color-default;
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                    line-height: 75px;
                    text-align: center;/* ←文字を左右に中央揃え */
                    @media screen and (max-width: 480px) {
                        padding: 15px 16px;
                        bottom: -30px;
                    }
                    &:hover {
                        background: $color-main;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all  0.5s ease;
                    }
                    img {
                        width: 17px;
                        vertical-align: middle;
                        @media screen and (max-width: 480px) {
                            width: 14px;
                        }
                    }
                }
                .slick-next {
                    cursor: pointer;
                    position: absolute;
                    left: 90px;
                    bottom: 0;
                    background: $color-default;
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                    line-height: 75px;
                    text-align: center;/* ←文字を左右に中央揃え */
                    @media screen and (max-width: 480px) {
                        padding: 15px 16px;
                        bottom: -30px;
                        left: 60px;
                    }
                    &:hover {
                        background: $color-main;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all  0.5s ease;
                    }
                    img {
                        width: 17px;
                        vertical-align: middle;
                        @media screen and (max-width: 480px) {
                            width: 14px;
                        }
                    }
                }
            }
            .flickr {
                position: absolute;
                right: 0;
                bottom: 30px;
                @media screen and (max-width: 480px) {
                    bottom: -20px;
                }
                a {
                    display: block;
                    text-align: center;
                    color: #222;
                    padding: 10px 20px;
                    min-width: 200px;
                    border: 1px solid #707070;
                    border-radius: 25px;
                    @media screen and (max-width: 480px) {
                        min-width: unset;
                        font-size: 1.2rem;
                    }
                    img {
                        width: 12px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                    &:hover {
                        background: $color-main;
                        color: #FFF;
                        border: 1px solid $color-main;
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all  0.5s ease;
                    }
                }
            }
        }
    }
}

.product_detail {
    @media screen and (max-width: 480px) {
        margin-top: 40px;
    }
}

/*tabの形状*/
.tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #222;
  }
  .tab li a {
    display: block;
    background:#AFAFAF;
    margin-right: 1px;
    width: 250px;
    padding: 20px 0px 0px;
    min-height: 100px;
    text-align: center;
    @media screen and (max-width: 480px) {
        width: unset;
        min-width: 100px;
        padding: 10px 20px 0px;
        min-height: 60px;
    }
    .title {
        font-size: 1.3125rem;
        color: #222;
    }
    .subtitle {
        font-size: 0.875rem;
        font-family: $font-en;
        color: $color-main;
    }
  }
  .tab li a:hover {
    background: #222;
    .title {
        font-size: 1.3125rem;
        color: #FFF;
    }
  }
  /*liにactiveクラスがついた時の形状*/
  .tab li.active a {
    background: #222;
    .title {
        font-size: 1.3125rem;
        color: #FFF;
    }
  }
  /*エリアの表示非表示と形状*/
  .area {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;
    padding: 50px 0px;
    @media screen and (max-width: 480px) {
        padding: 20px 0px 50px;
    }
  }
  /*areaにis-activeというクラスがついた時の形状*/
  .area.is-active {
      display: block;/*表示*/
      animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
  @keyframes displayAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .detail_overview {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      @media screen and (max-width: 480px) {
        display: unset;
        }
      .detail_left {
          width: 45%;
          @media screen and (max-width: 480px) {
            width: 100%;
        }
          .main_img {
              img {
                min-height: 650px;
                object-fit: cover;
                @media screen and (max-width: 480px) {
                    min-height: 200px;
                }
              }
          }
          .sub_img {
              margin-top: 30px;
            img {
                width: 100%;
                @media screen and (max-width: 480px) {
                    width: 75%;
                }
              }
          }
      }
      .detail_right {
        width: 50%;
        display:flex;
        align-items:center;
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-top: 30px;
            font-size: 1.2rem;
        }
        .detail_number {
            font-size: 0.875rem;
            font-family: $font-en;
            color: $color-main;
            @media screen and (max-width: 480px) {
                font-size: 1.0rem;
            }
        }
        .detail_h4 {
            font-size: 1.875rem;
            font-family: $font-jp02;
            font-weight: bold;
            margin-bottom: 5px;
            @media screen and (max-width: 480px) {
                font-size: 2.2rem;
            }
        }
        .detail_subtitle {
            color: #AFAFAF;
            margin-bottom: 10px;
            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
        }
        .detail_h5 {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
            @media screen and (max-width: 480px) {
                font-size: 1.7rem;
            }
        }
        .detail_text {
            margin-bottom: 20px;
        }
        strong {font-weight: bold;}
    }
  }

  .detail_accordion {
    .option_detail_accordion {
        position: relative;
        background: #EFEFEF;
        padding: 30px 50px;
        @media screen and (max-width: 480px) {
            padding: 15px 20px;
            margin: 40px 0;
        }
        .toggle {
            display: none;
        }
        .title {
            font-size: 1.5rem;
            color: $color-main;
            font-weight: bold;
            display: block;
            p {
                font-size: 0.875rem;
                color: #AFAFAF;
            }
        }
        .title,
        .content {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: all 0.3s;
        }
        .title::after,
        .title::before {
            content: "";
            position: absolute;
            right: 10px;
            top: 15px;
            width: 1px;
            height: 1.75em;
            background-color: #222;
            transition: all 0.3s;
            @media screen and (max-width: 480px) {
                right: 10px;
                top: 10px;
            }
        }
        .title::after {
            transform: rotate(90deg);
        }
        .content {
            max-height: 0;
            overflow: hidden;
            .fature_area {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                @media screen and (max-width: 480px) {
                    display: unset;
                    font-size: 1.2rem;
                }
                .left {
                    width: 65%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    img {
                        object-fit: cover;
                        height: 400px;
                        @media screen and (max-width: 480px) {
                            height: 200px;
                        }
                    }
                    .fature_title {
                        font-size: 1.7rem;
                        margin-bottom: 10px;
                        font-weight: bold;
                    }
                    .hexagongrip_movie {
                        @media screen and (max-width: 480px) {
                            margin: 20px 0;
                        }
                    }
                }
                .right {
                    width: 32%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                        margin-top: 30px;
                    }
                    p {
                        font-family: $font-en;
                        color: #AFAFAF;
                    }
                }
            }
        }
        .toggle:checked + .title + .content {
            max-height: 500px;
            transition: all 1.5s;
            @media screen and (max-width: 480px) {
                max-height: unset;
                min-height: 400px;
            }
        }
        .toggle:checked + .title::before {
            transform: rotate(90deg) !important;
        }
    }
}

.option_detail_accordion .toggle:checked + .title + .content {
    min-height: 550px;
    max-height: none !important;
}

.gallery_overview {
    h3 {
        font-size: 1.875rem;
        font-weight: bold;
        //border-bottom: 1px solid #D0D0D0;
        padding-bottom: 10px;
        margin-bottom: 30px;
        p {
            font-size: 1rem;
            color: $color-main;
            font-family: $font-en;
        }
    }
    h4.gallery_overview_title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0.3rem 1.0rem;
        border-left: 8px solid #222;
    }
    .gallery_list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        li {
            width: 32%;
            @media screen and (max-width: 480px) {
                letter-spacing: 1px;
            }
            .gallery_list_img {
                img {
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    @media screen and (max-width: 480px) {
                        height: 100px;
                    }
                }
            }
            .gallery_list_title {
                font-size: 0.9rem;
                margin: 10px 0px 0px;
                font-weight: bold;
            }
            .gallery_list_subtitle {
                font-size: 0.8rem;
                color: #B5B5B5;
            }
        }
        .hover {
            position: relative;
        }
        .hover .hover-img {
            margin: 0;
            padding: 0;
        }
        .hover-img img {
            width: 100%;
            height: 100%;
        }
        .hover .hover-text {
            position: absolute;
            width: 100%;
            height: 240px;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0,0,0,0.65);
            /*透明にして表示させない*/
            opacity: 0;
            /*ホバーの動き方*/
            transition: .3s ease-in-out;
            padding: 20px;
            @media screen and (max-width: 480px) {
                height: 100px;
                padding: 10px;
            }
        }
        .hover .hover-text .text1 {
            font-size: 1.2rem;
            padding: 0 0px 10px;
        }
        .hover .hover-text .text2 {
            font-size: 0.7rem;
            padding: 0;
        }
        /*ホバーエフェクト*/
        .hover:hover .hover-text {
            /*不透明にして表示*/
            opacity: 1;
            /*padding-topで上からスライド*/
            padding-top: 10px;
        }
    }
    .slick_gallery02 {
        margin-bottom: 150px;
        padding-bottom: 100px;
        @media screen and (max-width: 480px) {
            padding-bottom: 0px;
        }
        li {
            margin-right: 10px;
            @media screen and (max-width: 480px) {
                letter-spacing: 1px;
            }
            .gallery_list_img {
                img {
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    @media screen and (max-width: 480px) {
                        height: 100px;
                    }
                }
            }
            .gallery_list_title {
                font-size: 0.9rem;
                margin: 10px 0px 0px;
                font-weight: bold;
            }
            .gallery_list_subtitle {
                font-size: 0.8rem;
                color: #B5B5B5;
            }
        }
        .hover {
            position: relative;
        }
        .hover .hover-img {
            margin: 0;
            padding: 0;
        }
        .hover-img img {
            width: 100%;
            height: 100%;
        }
        .hover .hover-text {
            position: absolute;
            width: 100%;
            height: 240px;
            top: 0;
            left: 0;
            color: #fff;
            background-color: rgba(0,0,0,0.65);
            /*透明にして表示させない*/
            opacity: 0;
            /*ホバーの動き方*/
            transition: .3s ease-in-out;
            padding: 20px;
            @media screen and (max-width: 480px) {
                height: 100px;
                padding: 10px;
            }
        }
        .hover .hover-text .text1 {
            font-size: 1.2rem;
            padding: 0 0px 10px;
        }
        .hover .hover-text .text2 {
            font-size: 0.7rem;
            padding: 0;
        }
        /*ホバーエフェクト*/
        .hover:hover .hover-text {
            /*不透明にして表示*/
            opacity: 1;
            /*padding-topで上からスライド*/
            padding-top: 10px;
        }
        .slick-prev02 {
            cursor: pointer;
            position: absolute;
            left: 0;
            bottom: 0;
            background: $color-default;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            line-height: 75px;
            text-align: center;/* ←文字を左右に中央揃え */
            @media screen and (max-width: 480px) {
                padding: 15px 16px;
                bottom: -30px;
            }
            &:hover {
                background: $color-main;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all  0.5s ease;
            }
            img {
                width: 17px;
                vertical-align: middle;
                @media screen and (max-width: 480px) {
                    width: 14px;
                }
            }
        }
        .slick-next02 {
            cursor: pointer;
            position: absolute;
            left: 100px;
            bottom: 0;
            background: $color-default;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            line-height: 75px;
            text-align: center;/* ←文字を左右に中央揃え */
            @media screen and (max-width: 480px) {
                padding: 15px 16px;
                bottom: -30px;
                left: 60px;
            }
            &:hover {
                background: $color-main;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all  0.5s ease;
            }
            img {
                width: 17px;
                vertical-align: middle;
                @media screen and (max-width: 480px) {
                    width: 14px;
                }
            }
        }
    }
}


//model

.model_list {
    ul {
        li {
            .model_titles {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 480px) {
                    display: unset;
                }
                .left {
                    width: 60%;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 20px;
                    padding: 0.3rem 1.0rem;
                    border-left: 8px solid #222;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    .subtitle {
                        color: #AFAFAF;
                        font-size: 0.9375rem;
                    }
                    .title {
                        font-family: $font-en;
                        font-size: 2.5rem;
                        span {
                            background: $color-main;
                            padding: 3px 5px;
                            font-size: 1.8rem;
                            color: #FFF;
                            margin-left: 10px;
                            @media screen and (max-width: 480px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                .right {
                    width: 40%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    ul {
                        display: flex;
                        justify-content: flex-end;
                        li {
                            background: #B5B5B5;
                            padding: 2px 5px;
                            margin-left: 5px;
                            font-size: 0.7rem;
                            @media screen and (max-width: 480px) {
                                font-size: 0.7rem;
                            }
                        }
                        .img {
                            background: none;
                            padding: 0;
                            img {
                                @media screen and (max-width: 480px) {
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
            .model_rodimg {
                .imagearea {
                    width: 100%;
                    display: inline-block;
                    margin: 50px 0;
                }
                .loupe {
                    border:2px solid white;
                    background-repeat: no-repeat;
                    background-color: white;
                    width:200px; height:200px; /* 拡大鏡大きさ */
                    position:absolute;
                    display:none;
                    -moz-box-shadow:0 0 10px #777;
                    -webkit-box-shadow:0 0 10px #777;
                    box-shadow:0 0 10px #777;
                    -moz-border-radius:100px; /* 拡大鏡大きさ ÷ 2 */
                    -webkit-border-radius:100px; /* 拡大鏡大きさ ÷ 2 */
                    border-radius:100px; /* 拡大鏡大きさ ÷ 2 */
                    z-index: 1000;
                }
            }
            .model_btns {
                margin: 40px 0 20px;
                display: flex;
                @media screen and (max-width: 480px) {
                    display: unset;
                }
                ul.model_btns_list {
                    width: 70%;
                    display: flex;
                    justify-content: flex-start;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    li {
                        a {
                            border: 1px solid #707070;
                            padding: 10px 20px;
                            margin-right: 5px;
                            font-size: 0.7rem;
                            color: #222;
                            border-radius: 25px;
                            @media screen and (max-width: 480px) {
                                height: 15px;
                                padding: 10px;
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
                .model_movie_list {
                    width: 30%;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    .accordion_model_movielist {
                        background: #F5F5F5;
                        padding: 10px 20px;
                        .option {
                            position: relative;
                            .toggle {
                                display: none;
                            }
                            .title {
                                display: block;
                            }
                            .title,
                            .content {
                                -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                                transform: translateZ(0);
                                transition: all 0.3s;
                                font-size: 0.9rem;
                                @media screen and (max-width: 480px) {
                                    font-size: 1.2rem;
                                }
                            }
                            .title::after,
                            .title::before {
                                content: "";
                                position: absolute;
                                right: 10px;
                                top: 5px;
                                width: 1px;
                                height: 0.75em;
                                background-color: #222;
                                transition: all 0.3s;
                                @media screen and (max-width: 480px) {
                                    right: 0px;
                                }
                            }
                            .title::after {
                                transform: rotate(90deg);
                            }
                            .content {
                                max-height: 0;
                                overflow: hidden;
                                .model_movie_list_items {
                                    padding: 30px 20px;
                                    @media screen and (max-width: 480px) {
                                        padding: 20px 15px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        justify-content: space-between;
                                    }
                                    li {
                                        margin-bottom: 10px;
                                        @media screen and (max-width: 480px) {
                                            width: 48%;
                                            margin-bottom: 0px;
                                        }
                                        .hexagongrip_movie a {
                                            display: block;
                                            margin-bottom: 10px;
                                            img {
                                                height: 90px;
                                                object-fit: cover;
                                            }
                                        }
                                    }
                                }
                            }
                            .toggle:checked + .title + .content {
                                max-height: 500px;
                                transition: all 1.5s;
                            }
                            .toggle:checked + .title::before {
                                transform: rotate(90deg) !important;
                            }
                            .more_inner {
                                line-height: 2.0;
                                li {
                                    a {
                                        &:hover {
                                            margin-left: 5px;
                                            -webkit-transition: all 0.3s ease-in-out;
                                            -moz-transition: all 0.3s ease-in-out;
                                            -o-transition: all 0.3s ease-in-out;
                                            transition: all 0.3s ease-in-out;
                                            color: $color-main;
                                        }
                                    }
                                }
                                span.new {
                                    background: $color-main;
                                    color: #FFF;
                                    padding: 3px 5px;
                                    font-size: 0.7rem;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .model_texts {
                background: #F5F5F5;
                padding: 20px;
                .model_head_text {
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 480px) {
                        font-size: 0.8rem;
                    }
                    .left {
                        width: 49%;
                        .title {
                            font-weight: bold;
                        }
                    }
                    .right {
                        width: 49%;
                        text-align: right;
                        font-weight: bold;
                    }
                }
                .model_bottom_text {
                    font-size: 0.7rem;
                    border-top: 1px solid #CECECE;
                    padding-top: 20px;
                    margin-top: 20px;
                    @media screen and (max-width: 480px) {
                        padding-top: 10px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.grad-wrap {
    position: relative;
    .grad-btn {
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        top: 60px;
        left: 50%;
        margin-left: -21px;
        z-index: 10;
        display: flex;
        @media screen and (max-width: 480px) {
            width: unset;
            top: 30px;
        }
        .plus {
            position: relative;
            width: 21px;
            height: 21px;
            background: #3B3B3B;
            color: #FFF;
            border-radius: 100%;
            margin-right: 10px;
        }
        .plus::before {
            position: absolute;
            top: 5px;
            left: 10px;
            width: 1px;
            height: 11px;
            content: "";
            background: #FFF;
        }
        .plus::after {
            position: absolute;
            top: 10px;
            left: 5px;
            width: 11px;
            height: 1px;
            content: "";
            background: #FFF;
        }
    }
    .grad-item {
        position: relative;
        overflow: hidden;
        height: 80px; /*隠した状態の高さ*/
        @media screen and (max-width: 480px) {
            height: 50px;
            font-size: 0.8rem;
        }
    }
    .grad-item::before {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90px; /*グラデーションで隠す高さ*/
        background: rgb(245,245,245);
        background: linear-gradient(0deg, rgba(245,245,245,1) 30%, rgba(245,245,245,0) 100%);
        content: "";
    }
    .grad-trigger {
        display: none; /*チェックボックスは常に非表示*/
    }
    .grad-trigger:checked + .grad-btn {
    display: none; /*チェックされていたら、grad-btnを非表示にする*/
    }
    .grad-trigger:checked ~ .grad-item {
        height: auto; /*チェックされていたら、高さを戻す*/
    }
    .grad-trigger:checked ~ .grad-item::before {
        display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
    }
}


//comparison

.comparison_col {
    margin-bottom: 60px;
    @media screen and (max-width: 480px) {
        margin-bottom: 30px;
    }
    .comparison_col_inner {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 480px) {
            display: unset;
        }
        .table_col {
            @media screen and (max-width: 480px) {
                overflow: auto;
                white-space: nowrap;
            }
        }
    table {
        width: 100%;
        margin: 0 auto;
        th,td {
            padding: 5px 0;
            line-height: 1.2;
            @media screen and (max-width: 480px) {
                line-height: 1;
                letter-spacing: 1px;
                padding: 5px 10px;
            }
        }
        th {
            background: #EAEAEA;
            border-top: 1px solid #C9C9C9;
            width: 9%;
            text-align: center;
            font-weight: bold;
            font-size: 0.5rem;
            @media screen and (max-width: 480px) {
                font-size: 1.0rem;
            }
            span {
                font-size: 0.4rem;
                @media screen and (max-width: 480px) {
                    font-size: 1.0rem;
                }
            }
        }
        tr {
            text-align: center;
            border-bottom: 1px solid #C9C9C9;
            font-family: 'Oswald', sans-serif;
        }
        td {
            padding: 5px 0;
            @media screen and (max-width: 480px) {
                font-size: 1.0rem;
            }
        }
        .gray {
            border-bottom: none;
            background: #EAEAEA;
        }
    }
    }
    .left_long {
        width: 55%;
        @media screen and (max-width: 480px) {
            width: 100%;
            .rod_chart {
                text-align: center;
                img {
                    width: 75%;
                }
            }
        }
    }
    .right_short {
        width: 40%;
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-top: 30px;
        }
    }
}



//product_list

.cp_ipselect {
	overflow: hidden;
	width: 35%;
    height: 100%;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
    top: 16px;
    right: 8px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #666666;
    pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 15px 8px 8px;
    color: #666666;
    font-size: 0.7rem;
    @media screen and (max-width: 480px) {
        font-size: 1.8rem;
    }
}


.product_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    position: relative;
    top: 0;
    left: 0;
    @media screen and (max-width: 480px) {
        margin-top: 0px;
        display: unset;
    }
    .left_product {
        width: 25%;
        position: relative;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
        .left_col_title {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 5px;
            color: $color-main;
        }
        .nav,
        .price_text {
            margin-left: 10px;
        }
        .nav {
            width: 100%;
            float: left;
            top: 0;
            margin-bottom: 20px;
        }
        ul {
            @media screen and (max-width: 480px) {
                display: flex;
                flex-wrap: wrap;
                justify-items: flex-start;
            }
            li {
                margin-bottom: 5px;
                position: relative;
                @media screen and (max-width: 480px) {
                    width: 50%;
                    font-size: $jp-s;
                }
            }
        }
        .price_text {
            display: flex;
            span {
                margin: 0 5px;
                font-size: $jp-sss;
                @media screen and (max-width: 480px) {
                    font-size: $jp-ms;
                }
            }
        }
    }
    .right_product {
        width: 70%;
        @media screen and (max-width: 480px) {
            width: 100%;
            margin-top: 100px;
        }
        .product_list {
            margin-bottom: 200px;
            @media screen and (max-width: 480px) {
                margin-bottom: 100px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 29%;
                    position: relative;
                    margin-bottom: 40px;
                    @media screen and (max-width: 480px) {
                        width: 45%;
                    }
                    a {
                        color: #222;
                        .sub01 {
                            font-size: 0.7rem;
                            color: #FFF;
                            background: $color-main;
                            padding: 0px 4px;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: 10;
                            @media screen and (max-width: 480px) {
                                font-size: 1.0rem;
                            }
                        }
                        .sub02 {
                            font-size: 0.7rem;
                            @media screen and (max-width: 480px) {
                                font-size: 1.0rem;
                            }
                        }
                        .img {margin-bottom: 20px;}
                        .title {
                            font-family: $font-en;
                            font-size: 1.1rem;
                            @media screen and (max-width: 480px) {
                                font-size: 1.6rem;
                            }
                        }
                        .subtitle {
                            text-align: right;
                            color: #AFAFAF;
                            font-size: 0.7rem;
                            @media screen and (max-width: 480px) {
                                font-size: 1.0rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* チェックボックス */
input[type=checkbox] {
    display: none;
}
.checkbox {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    position: relative;
    width: 100%;
}
.checkbox::before {
    background: #fff;
    border: 1px solid #3B3B3B;
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    left: 0px;
    position: absolute;
    top: 30%;
}
.checkbox::after {
    border-right: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
    content: '';
    display: block;
    height: 9px;
    left: 5px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 55%;
    transform: rotate(45deg);
    width: 5px;
}
input[type=checkbox]:checked + .checkbox::after {
    opacity: 1;
}