.other {
    width: 100%;
    padding-top: 230px;
    @media screen and (max-width: 480px) {
        padding-top: 150px;
    }
    .otherinner {
        width: 1100px;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            display: block;
            width: 90%;
        }
        .faq_inner {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            position: relative;
            top: 0;
            left: 0;
            @media screen and (max-width: 480px) {
                margin-top: 20px;
                display: unset;
            }
            .left_faq {
                width: 25%;
                position: relative;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                .nav {
                    width: 100%;
                    float: left;
                    top: 0;
                    @media screen and (max-width: 480px) {
                        float: unset;
                        margin-bottom: 40px;
                    }
                }
                ul {
                    @media screen and (max-width: 480px) {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    li {
                        margin-bottom: 10px;
                        position: relative;
                        @media screen and (max-width: 480px) {
                            width: 30%;
                            font-size: 1.2rem;
                        }
                        a {
                            position: relative;
                            display: inline-block;
                            text-decoration: none;
                            &::after {
                                position: absolute;
                                bottom: -2px;
                                left: 0;
                                content: '';
                                width: 100%;
                                height: 1px;
                                background: #333;
                                transform: scale(0, 1);
                                transform-origin: right top;
                                transition: transform .3s;
                            }
                        }
                        a:hover::after {
                            transform-origin: left top;
                            transform: scale(1, 1);
                        }
                    }
                    li:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border: 0;
                        border-top: solid 1px #222;
                        border-right: solid 1px #222;
                        position: absolute;
                        top: 50%;
                        left: 42%;
                        margin-top: -4px;
                        transform: rotate(45deg);
                        @media screen and (max-width: 480px) {
                            top: 50%;
                            left: 90%;
                        }
                    }
                    li.arrow_down:before {
                        @media screen and (max-width: 480px) {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
            .right_faq {
                width: 70%;
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                .faq_list {
                    margin-bottom: 100px;
                    h6.faq_title {
                        font-size: 2.0rem;
                        font-weight: bold;
                        margin-bottom: 40px;
                        @media screen and (max-width: 480px) {
                            margin-bottom: 20px;
                        }
                    }
                    .accordion_faq {
                        .option {
                            position: relative;
                            margin-bottom: 30px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #AFAFAF;
                            @media screen and (max-width: 480px) {
                                margin-bottom: 20px;
                                padding-bottom: 0px;
                            }
                            .toggle {
                                display: none;
                            }
                            .title {
                                font-weight: bold;
                                display: block;
                                @media screen and (max-width: 480px) {
                                    padding-right: 70px;
                                }
                            }
                            .title,
                            .content {
                                -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                                transform: translateZ(0);
                                transition: all 0.3s;
                                font-size: 1.0rem;
                                @media screen and (max-width: 480px) {
                                    font-size: 1.6rem;
                                }
                            }
                            .title::after,
                            .title::before {
                                content: "";
                                position: absolute;
                                right: 1.25em;
                                top: 10px;
                                width: 1px;
                                height: 0.75em;
                                background-color: #222;
                                transition: all 0.3s;
                                @media screen and (max-width: 480px) {
                                    top: 5px;
                                    height: 1.0em;
                                }
                            }
                            .title::after {
                                transform: rotate(90deg);
                            }
                            .content {
                                max-height: 0;
                                overflow: hidden;
                                margin: 20px 0;
                                @media screen and (max-width: 480px) {
                                    margin: 20px 0 0;
                                }
                                .text {
                                    padding-bottom: 30px;
                                }
                                .news_btns {
                                    display: flex;
                                    justify-content: flex-start;
                                    margin-top: 20px;
                                    p.btn {
                                        margin-right: 5px;
                                        text-align: center;
                                        a {
                                            display: block;
                                            font-size: 0.8rem;
                                            border: 1px solid #DDD;
                                            border-radius: 25px;
                                            padding: 5px 20px;
                                            @media screen and (max-width: 480px) {
                                                font-size: 1.4rem;
                                            }
                                            &:hover {
                                                color: #FFF !important;
                                                border: 1px solid $color-main;
                                                background: $color-main;
                                                -webkit-transition: all 0.5s ease;
                                                -moz-transition: all 0.5s ease;
                                                -o-transition: all 0.5s ease;
                                                transition: all  0.5s ease;
                                            }
                                        }
                                    }
                                }
                            }
                            .toggle:checked + .title + .content {
                                max-height: 500px;
                                transition: all 1.5s;
                            }
                            .toggle:checked + .title::before {
                                transform: rotate(90deg) !important;
                            }
                            .more_inner {
                                line-height: 2.0;
                                li {
                                    a {
                                        &:hover {
                                            margin-left: 5px;
                                            -webkit-transition: all 0.3s ease-in-out;
                                            -moz-transition: all 0.3s ease-in-out;
                                            -o-transition: all 0.3s ease-in-out;
                                            transition: all 0.3s ease-in-out;
                                            color: $color-main;
                                        }
                                    }
                                }
                                span.new {
                                    background: $color-main;
                                    color: #FFF;
                                    padding: 3px 5px;
                                    font-size: 0.7rem;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    .sub_info_text {
                        font-size: 1.0rem;
                        margin-bottom: 40px;
                        @media screen and (max-width: 480px) {
                            font-size: 1.4rem;
                        }
                    }
                    .accordion_stock {
                        .option {
                            position: relative;
                            margin-bottom: 30px;
                            border: 1px solid #AFAFAF;
                            @media screen and (max-width: 480px) {
                                margin-bottom: 10px;
                            }
                            .toggle {
                                display: none;
                            }
                            .title {
                                font-weight: bold;
                                display: block;
                                padding: 20px;
                            }
                            .title,
                            .content {
                                -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                                transform: translateZ(0);
                                transition: all 0.3s;
                                font-size: 1.0rem;
                                @media screen and (max-width: 480px) {
                                    font-size: 1.6rem;
                                }
                            }
                            .title::after,
                            .title::before {
                                content: "";
                                position: absolute;
                                right: 30px;
                                top: 27px;
                                width: 1px;
                                height: 0.75em;
                                background-color: #222;
                                transition: all 0.3s;
                            }
                            .title::after {
                                transform: rotate(90deg);
                            }
                            .content {
                                max-height: 0;
                                overflow: hidden;
                                .news_btns {
                                    display: flex;
                                    justify-content: flex-start;
                                    margin-top: 20px;
                                    p.btn {
                                        border: 1px solid #DDD;
                                        border-radius: 25px;
                                        padding: 5px 20px;
                                        margin-right: 5px;
                                        text-align: center;
                                        a {
                                            display: block;
                                            font-size: 0.8rem;
                                            &:hover {
                                                color: #FFF;
                                                border: 1px solid $color-main;
                                                background: $color-main;
                                                -webkit-transition: all 0.5s ease;
                                                -moz-transition: all 0.5s ease;
                                                -o-transition: all 0.5s ease;
                                                transition: all  0.5s ease;
                                            }
                                        }
                                    }
                                }
                            }
                            .toggle:checked + .title + .content {
                                max-height: 500px;
                                transition: all 1.5s;
                                overflow: scroll;
                            }
                            .toggle:checked + .title::before {
                                transform: rotate(90deg) !important;
                            }
                            .more_inner {
                                line-height: 2.0;
                                li {
                                    a {
                                        &:hover {
                                            margin-left: 5px;
                                            -webkit-transition: all 0.3s ease-in-out;
                                            -moz-transition: all 0.3s ease-in-out;
                                            -o-transition: all 0.3s ease-in-out;
                                            transition: all 0.3s ease-in-out;
                                            color: $color-main;
                                        }
                                    }
                                }
                                span.new {
                                    background: $color-main;
                                    color: #FFF;
                                    padding: 3px 5px;
                                    font-size: 0.7rem;
                                    margin-left: 5px;
                                }
                            }
                        }
                        table.stock_list {
                            width: 95%;
                            margin: 20px auto;
                            @media screen and (max-width: 480px) {
                                overflow: auto;
                                white-space: nowrap;
                            }
                            tr {
                                display: flex;
                                justify-content: space-around;
                                border-bottom: 1px solid #DDD;
                                th,td {
                                    text-align: center;
                                    padding: 5px;
                                    font-size: 0.7rem;
                                    display: -webkit-flex;
                                    display: flex;
                                    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
                                    align-items: center; /* 縦方向中央揃え */
                                    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
                                    justify-content: center; /* 横方向中央揃え */
                                    @media screen and (max-width: 480px) {
                                        font-size: 1.2rem;
                                    }
                                    span {
                                        color: #DD0000;
                                        font-weight: bold;
                                    }
                                }
                                th {
                                    font-weight: bold;
                                }
                            }
                            .gray {
                                background: #DDD;
                            }
                        }
                    }
                }
            }
        }
    }
}


////////////////////* contact *////////////////////

.contact_form_col {
    width: 100%;
    padding: 0px 0px 150px;
    @media screen and (max-width: 480px) {
        padding: 0px;
    }
    .contact_form_col_inner {
        width: 100%;
        margin: 0 auto;
        padding: 0px 30px 0px;
        @media screen and (max-width: 480px) {
            width: 90%;
            max-width: none;
            padding: 0;
        }
        table {
            width: 100%;
            font-weight: bold;
            border-collapse: separate;
            border-spacing: 0px 10px;
            @media screen and (max-width: 480px) {
                margin-bottom: 10px;
            }
            tr {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 480px) {
                    display: unset;
                }
                td.left {
                    width: 25%;
                    text-align: right;
                    padding: 20px 0;
                    font-size: 0.8rem;
                    vertical-align: middle;
                    line-height: 1.2;
                    @media screen and (max-width: 480px) {
                        padding: 0 10px;
                        font-size: 1.4rem;
                        width: 100%;
                        text-align: left;
                        display: block;
                        font-weight: bold;
                    }
                }
                td.right {
                    width: 70%;
                    padding: 20px 0;
                    line-height: 1.2;
                    font-size: 0.8rem;
                    @media screen and (max-width: 480px) {
                        padding: 10px;
                        width: 100%;
                        text-align: left;
                        display: block;
                        font-size: 1.4rem;
                    }
                    input {
                        width: 75%;
                        padding: 10px;
                        border: none;
                        border-radius: 2px;
                        border: 1px solid #111;
                        background: #FAF7FF;
                        @media screen and (max-width: 480px) {
                            width: 100%;
                            font-size: 16px;
                        }
                    }
                    textarea {
                        width: 100%;
                        padding: 10px;
                        border: none;
                        height: 200px;
                        border-radius: 2px;
                        border: 1px solid #111;
                        background: #FAF7FF;
                        @media screen and (max-width: 480px) {
                            height: 150px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .btn_form {
            text-align: center;
            border-top: 1px solid #DDD;
            padding-top: 50px;
            @media screen and (max-width: 480px) {
                padding-top: 20px;
            }
            a {
                font-family: $font-en;
                font-size: 3.125rem;
                color: #222;
                position: relative;
                display: inline-block;
                &:hover {
                    color: $color-main;
                    bottom: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
            a::after {
                position: absolute;
                bottom: 0px;
                left: 0;
                content: '';
                width: 100%;
                height: 2px;
                background: #333;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
            }
            a:hover::after {
                background: $color-main;
                bottom: 4px;
                opacity: 1;
                visibility: visible;
            }
        }
        .atten {
            font-size: 0.7rem;
            margin-top: 10px;
            @media screen and (max-width: 480px) {
                font-size: 1.2rem;
                margin-bottom: 10px;
            }
        }
    }
}

.company_table {
    width: 100%;
    tr {
        border-bottom: 1px solid #AFAFAF;
        td {
            padding: 25px 0;
        }
        .left {
            width: 20%;
            text-align: right;
            font-weight: bold;
            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
        }
        .right {
            padding-left: 40px;
            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
        }
    }
}

.checklist {
    ul {
        li {
            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
            span.check_icon {
                margin-right: 5px;
            }
            span.check_no {
                font-family: $font-en;
                color: $color-main;
                font-style: italic;
                font-size: 1.8rem;
                margin-right: 5px;
            }
        }
    }
    .btn {
        margin: 50px 0;
        a {
            border: 1px solid #AFAFAF;
            border-radius: 25px;
            padding: 15px 50px;
            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
            &:hover {
                color: #FFF;
                border: 1px solid $color-main;
                background: $color-main;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all  0.5s ease;
            }
        }
    }
    .atten {
        font-size: 0.7rem;
        margin-bottom: 50px;
        @media screen and (max-width: 480px) {
            font-size: 1.1rem;
            margin-bottom: 20px;
        }
    }
}
.warranty {
    margin: 40px 0;
    padding: 0 40px;
    li {
        font-size: 0.7rem;
        margin-bottom: 10px;
        .tit {
            font-weight: bold;
            border-left: 4px solid #222;
            padding-left: 10px;
            margin-bottom: 5px;
        }
        .tex {
            margin-left: 10px;
        }
    }
    .dl_icon {
        vertical-align: middle;
        img {
            width: 12px;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
}

.page_fv_img {
    margin-bottom: 40px;
    img {
        object-fit: cover;
        width: 100%;
        height: 400px;
        @media screen and (max-width: 480px) {
            height: 200px;
        }
    }
}

#scrollbar::-webkit-scrollbar {
        overflow:hidden;
        width:2px;
        background:#fafafa;
}
#scrollbar::-webkit-scrollbar:horizontal {
        height:2px;
}
#scrollbar::-webkit-scrollbar-button {
       display:none;
}
#scrollbar::-webkit-scrollbar-piece {
        background:#eee;
}
#scrollbar::-webkit-scrollbar-piece:start {
        background:#eee;
}
#scrollbar::-webkit-scrollbar-thumb {
        background:#333;
}
#scrollbar::-webkit-scrollbar-corner {
        background:#333;
}

.trial_shop_map {
    iframe {
        height: 400px;
        @media screen and (max-width: 480px) {
            height: 300px;
        }
    }
}
.trial_shop_list {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 480px) {
        margin: 50px 0 0;
    }
    .trial_shop_list_item {
        width: 33.333%;
        margin-bottom: 30px;
        @media screen and (max-width: 480px) {
            width:  50%;
        }
        .trial_title {
            font-weight: bold;
            font-size: 1.1rem;
            margin-top: -10px;
            @media screen and (max-width: 480px) {
                font-size: 1.4rem;
            }
            span {
                font-size: 0.7rem;
                @media screen and (max-width: 480px) {
                    font-size: 1.0rem;
                }
            }
            a {
                color: #222;
                img {
                    vertical-align: middle;
                    margin-left: 5px;
                }
                &:hover {
                    margin-left: 5px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    color: $color-main;
                }
            }
        }
        .trial_tel {
            color: #AFAFAF;
            @media screen and (max-width: 480px) {
                font-size: 1.0rem;
            }
        }
    }
}
.secondary {
    margin-top: 50px;
}
