@charset "UTF-8";

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wow {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


///// mainにビュアるアニメーション
////////// itemIn-h1
@-webkit-keyframes itemIn-h1 {
    from {
        opacity: 0;
        transition: all 1.2s;
        transform: translate3d(0, 100px, 0) rotate3d(1, 1, 0, 60deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate3d(1, 1, 0, 0deg);
    }
}

@keyframes itemIn-h1 {
    from {
        opacity: 0;
        transition: all 1.2s;
        transform: translate3d(0, 100px, 0) rotate3d(1, 1, 0, 60deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate3d(1, 1, 0, 0deg);
    }
}

.itemIn-h1 {
    -webkit-animation-name: itemIn-h1;
    animation-name: itemIn-h1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


@-webkit-keyframes slideUp {
    from {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}

@keyframes slideUp {
    from {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }


    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

//@keyframes itemIn {
//    from {
//        opacity: 0;
//        transform: translate3d(0, 100px, 300px) scale(0.95);
//        filter: grayscale(100%);
//
//    }
//
//    to {
//        opacity: 1;
//        transform: translate3d(0, 0, 0) scale(1);
//        filter: grayscale(0%);
//    }
//}
//
//.itemIn {
//    -webkit-animation-name: itemIn;
//    animation-name: itemIn;
//    -webkit-backface-visibility: hidden;
//    backface-visibility: hidden;
//}




////////// screen
@-webkit-keyframes screen {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 0;
        left: 100%;
    }
}

@keyframes screen {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 0;
        left: 100%;
    }
}

.screen {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    position: absolute;
    -webkit-animation-name: screen;
    animation-name: screen;
    animation-delay: 0.7s;

    &-box {
        position: relative;
        overflow: hidden;
    }
}


////////// filter
@-webkit-keyframes filter {
    from {
        filter: grayscale(100%);
    }

    to {
        filter: grayscale(0);
    }
}

@keyframes filter {
    from {
        filter: grayscale(100%);
    }

    to {
        filter: grayscale(0);
    }
}

.filter {
    -webkit-animation-name: filter;
    animation-name: filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation-delay: 0.7s;
}




////////// slideIn
@-webkit-keyframes itemIn {
    from {
        opacity: 0;
        transition: all 1.2s;
        transform: translate3d(0, 100px, 0) rotate3d(1, 1, 0, -60deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate3d(1, 1, 0, 0deg);
    }
}

@keyframes itemIn {
    from {
        opacity: 0;
        transition: all 1.2s;
        transform: translate3d(0, 100px, 0) rotate3d(1, 1, 0, -60deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) rotate3d(1, 1, 0, 0deg);
    }
}

.itemIn {
    -webkit-animation-name: itemIn;
    animation-name: itemIn;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.parallax-object {
    transition: transform 1s $easeOutExpo;
}

.bigtypo {
    transition: all 1s $easeOutExpo;
}


// ラインアニメーション
.mask-text {
    display: inline-block;
    -webkit-clip-path: polygon(0 -20%, 0 -20%, 0 120%, 0 120%);
    clip-path: polygon(0 -20%, 0 -20%, 0 120%, 0 120%);

    @include query($break-sm) {
        clip-path: none;
        overflow: hidden;
        position: relative;

        &::before {
            display: block;
            height: 100%;
            width: 100%;
            background: $base;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    &.animated {
        -webkit-transform: none;
        -ms-transform: none;
        -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 120%, 0 120%);
        clip-path: polygon(0 -20%, 100% -20%, 100% 120%, 0 120%);
        transition: -webkit-clip-path 1.5s $easeOutExpo .5s,
            clip-path 1.5s $easeOutExpo .5s,
            transform 1.5s $easeOutExpo .5s,
            -webkit-transform 1.5s $easeOutExpo .5s;
        -webkit-transition: -webkit-clip-path 1.5s $easeOutExpo .5s,
            clip-path 1.5s $easeOutExpo .5s,
            transform 1.5s $easeOutExpo .5s,
            -webkit-transform 1.5s $easeOutExpo .5s;

        @include query($break-sm) {
            clip-path: none;

            &::before {
                animation: screen 1.5s $easeOutExpo forwards;
            }
        }
    }
}



.line {
    &-horizontal.animated {
        position: relative;
        display: inline-block;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 1px;
            width: 100%;
            background-color: $black;
            content: "";
            animation: lineHorizontal 2s $easeOutExpo forwards;
            opacity: 0;
            z-index: 100;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            height: 1px;
            opacity: 0;
            width: 100%;
            background-color: $black;
            content: "";
            z-index: 100;
            animation: lineHorizontal 2s 0.2s $easeOutExpo forwards;
        }
    }

    &-vertical.animated {
        position: relative;
        display: inline-block;

        &:before {
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 1px;
            background-color: $black;
            content: "";
            z-index: 100;
            animation: lineVertical 2s .1s $easeOutExpo forwards;
        }

        &:after {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            height: 100%;
            width: 1px;
            background-color: $black;
            content: "";
            animation: lineVertical 2s 0.3s $easeOutExpo forwards;
            z-index: 100;
        }
    }
}



@keyframes lineHorizontal {
    from {
        transform: translate3d(-60%, 0, 0) scale(1);
        opacity: 0;
        transform-origin: right top;
    }

    50% {
        opacity: 0.7;
        transform: translate3d(0, 0%, 0) scale(1)
    }


    to {
        transform-origin: right top;
        opacity: 0;
        transform: translate3d(60%, 0, 0) scale(1)
    }
}

.lineHorizontal {
    -webkit-animation-name: lineHorizontal;
    animation-name: lineHorizontal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@keyframes lineVertical {
    from {
        transform: translate3d(0, -60%, 0) scale(1);
        opacity: 0;
        transform-origin: right top;
    }

    50% {
        transform-origin: right top;
        opacity: 0.7;
        transform: translate3d(0, 0%, 0) scale(1)
    }

    to {
        transform-origin: right top;
        opacity: 0;
        transform: translate3d(0, 60%, 0) scale(1)
    }
}

.lineVertical {
    -webkit-animation-name: lineVertical;
    animation-name: lineVertical;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



@keyframes scaleUp {
    from {
        transform: scale(1);
        transform-origin: center;
    }

    to {
        transform-origin: center;
        transform: scale(1.2);
    }
}

.scaleUp {
    -webkit-animation-name: scaleUp;
    animation-name: scaleUp;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



@keyframes pageTitle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
